# -*- coding: utf-8 -*-

# Sample configuration file for cronos.teilar.gr website
# Rename it to local_settings.py and change accordingly the vars

# The listed admins will receive mail notifications
ADMINS = (
    ('Cronos development team', 'user@localhost')
)

# DEBUG Options: True is for development use, False is for production use
DEBUG = False
TEMPLATE_DEBUG = DEBUG
LOGGING_DEBUG = DEBUG

# Select debug level. Choices are DEBUG, INFO, WARNING, ERROR, CRITICAL
DEBUG_LEVEL = 'DEBUG'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'cronos',                      # Or path to database file if using sqlite3.
        'USER': 'cronos',                      # Not used with sqlite3.
        'PASSWORD': 'cronos',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

# Secret key, used by Django to create hashes. Make this unique, and
# don't share it with anybody.
SECRET_KEY = 'secret'

# Blowfish key, used by encrypt_password and decrypt_password functions
# in cronos.accounts.encryption module. Make this unique, and don't
# share it with anybody.
BLOWFISH_KEY = 'secret'

##### The following variables can remain unset in development boxes

# e-class.teilar.gr account
ECLASS_USER = ''
ECLASS_PASSWORD = ''
