# -*- coding: utf-8 -*-

# Sample configuration file for cronos.teilar.gr website
# Rename it to local_settings.py and change accordingly the vars

# The listed admins will receive mail notifications
ADMINS = (
    ('admin', 'admin@localhost'),
)

# DEBUG Options: Select "True" for development use, "False" for production use
DEBUG = True
TEMPLATE_DEBUG = DEBUG

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'cronos',                      # Or path to database file if using sqlite3.
        'USER': 'cronos',                      # Not used with sqlite3.
        'PASSWORD': 'cronos',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

# Secret key, used by Django to create hashes, and by the functions
# encrypt_password/decrypt_pasword in cronos.common.encryption module,
# to encrypt/decrypt blowfish passwords.
# Make this unique, and don't share it with anybody.
SECRET_KEY = 'secret'

# Variables regarding email sending (host, credentials)
# SERVER_EMAIL = 'user@localhost'
# EMAIL_HOST = 'localhost'
# EMAIL_PORT = '25'
# EMAIL_HOST_USER = 'user'
# EMAIL_HOST_PASSWORD = 'secret'
# EMAIL_USE_TLS = False
