# -*- coding: utf-8 -*-

# Sample configuration file for cronos.teilar.gr website
# Rename to local_settings.py and change accordingly the variables

# Change to True for development boxes
DEBUG = False
TEMPLATE_DEBUG = DEBUG

# Change them to reflect your own db settings
DATABASE_ENGINE = 'mysql'           # 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
DATABASE_NAME = 'secret'             # Or path to database file if using sqlite3.
DATABASE_USER = 'secret'             # Not used with sqlite3.
DATABASE_PASSWORD = 'secret'         # Not used with sqlite3.
DATABASE_HOST = ''             # Set to empty string for localhost. Not used with sqlite3.
DATABASE_PORT = ''             # Set to empty string for default. Not used with sqlite3.

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'secret'

# Change PROJECT_ROOT to reflect your own dir
PROJECT_ROOT = '/home/$USER/cronos/'

# Create a media/ dir for you own static content
# and create an admin_media symlink pointing to django's media
# (admin_media is used for django's admin panel static content)
MEDIA_ROOT = PROJECT_ROOT + 'media/'
MEDIA_URL = '/media/'
ADMIN_MEDIA_PREFIX = '/admin_media/'

# Change LOGFILE to reflect the file that stores log messages
# Make sure the path is writable from the user running the app
LOGDIR='/var/log/cronos.log'

# Blowfish key, used by encryptPassword and decryptPassword functions in cronos.teilar.login module
BLOWFISH_KEY = 'secret'

##### The following variables can remain unset in development boxes

# ECLASS
ECLASS_USER = 'secret'
ECLASS_PASSWORD = 'secret'

# used to send mails by sendmail
EMAIL_HOST_USER = 'root'

# recaptcha keys
RECAPTCHA_PUB_KEY = 'secret'
RECAPTCHA_PRIVATE_KEY = 'secret'
