{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Ανακοινώσεις | 
{% endblock %}

{% block more %}
    <link rel="alternate" type="application/rss+xml" title="Ανακοινώσεις RSS" href="/feeds/announcements/{{user}}" />
{% endblock %}

{% block content %}
    {% for announcement in announcements %}
        <div class="entry">
            <h3>{{ announcement.title }}</h3>
            <img src="{% static "img/cid0.png" %}" />
            <p>{{ announcement.summary|safe }}
            {{ announcement.creator }}</p>
        </div>
    {% endfor %}

<form action="/announcements/" method="get">
<input type="hidden" name="announceid">
</form>
{% endblock %}
