{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>{% block title %}{% endblock %}Cronos</title>
        <link rel="icon" href="{% static "img/logo.png" %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static "css/reset.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        {% block more %}{% endblock %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="{% static "js/sidebar.js" %}"></script>
        {% block extra_css %}{% endblock %}
        {% block extra_js_top %}{% endblock %}
    </head>
    <body>
        <div id="container">
            <div id="header">
                <a href="/"><h1>CRONOS</h1></a>
                <div id="sidebar">
                    <ul id="navigation">
                        <li><a href="/">&raquo;&emsp;Αρχική</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="/announcements/">&raquo;&emsp;Ανακοινώσεις</a></li>
                        <li><a href="/dionysos/">&raquo;&emsp;Στοιχεία Γραμματείας</a></li>
                        {% if user.get_profile.eclass_username %}
                        <li><a href="/eclass/">&raquo;&emsp;E-class</a></li>
                        {% endif %}
                        {% if user.get_profile.webmail_username %}
                        <li><a href="/webmail/">&raquo;&emsp;E-mail</a></li>
                        {% endif %}
                        {% endif %}
                        <li><a href="/library/">&raquo;&emsp;Αναζήτηση Βιβλιοθήκης</a></li>
                        <li><a href="/teachers/">&raquo;&emsp;Λίστα Καθηγητών</a></li>
                        <li class="sidebar_head"><a>&raquo;&emsp;Extensions</a></li>
                        <div class="sidebar_body">
                            <li><a href="/refrigerators/">&raquo;&emsp;Ψυκτικά Φορτία</a></li>
                        </div>
                        <li><a href="/blog/">&raquo;&emsp;Blog</a></li>
                        <li class="sidebar_head"><a>&raquo;&emsp;Ρυθμίσεις</a></li>
                        <div class="sidebar_body">
                            <li><a href="/settings/accounts/">&raquo;&emsp;Ρυθμίσεις Λογαριασμών</a></li>
                            <li><a href="/settings/announcements/">&raquo;&emsp;Επιλογή ανακοινώσεων</a></li>
                            <li><a href="/settings/apikey/">&raquo;&emsp;API key</a></li>
                        </div>
                        <li><a href="/about/">&raquo;&emsp;Σχετικά</a></li>
                    </ul>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div id="profile">
                <p>{{user.first_name}} {{user.last_name}}&emsp;&mdash;&emsp;{{user.get_profile.registration_number}}</p>
                <a class="button" href="/logout/">Αποσύνδεση</a>
            </div>
            {% endif %}
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block extra_js_bottom %}{% endblock %}
    </body>
</html>
