{% extends "base.html" %}

{% block title %}
    Eclass | 
{% endblock %}

{% block notifications %}
    <p class="infobox">Σε περίπτωση που έχετε κάνει αλλαγές στη λίστα μαθημάτων σας από την ιστοσελίδα του <a href="http://openclass.teilar.gr">openclass</a>, επισκευτείτε τις <a href="/settings/accounts/#teilar">ρυθμίσεις</a> για να την ανανεώσετε και στην παρούσα</p>
{% endblock %}

{% block content %}
    <div class="entry">
        <h3>Τα Μαθήματά μου</h3>
        {% if eclass_lessons %}
            <ul>
            {% for lesson in eclass_lessons %}
                <li><strong><a href="{{ lesson.url }}">{{ lesson.name }}</a></strong>
                <ul>
                    <li>Καθηγητής: {{ lesson.teacher }}</li>
                    <li>Σχολή: {{ lesson.faculty }}</li>
                    <li>Τύπος: {{ lesson.ltype }}</li>
                </ul>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            Δεν υπάρχουν μαθήματα προς εμφάνιση.
        {% endif %}
    </div>
{% endblock %}
