{% extends "base.html" %}

{% block title %}
    {{user}} | 
{% endblock %}

{% block content %}
    <div class="entry">
        <h3>Εισαγωγικά</h3>
        <p>Καλώς ήρθατε στην ιστοσελίδα Cronos.</p>
        <p>Η παρούσα ιστοσελίδα αποτελεί μια ενοποίηση των διαφόρων υπηρεσιών του ΤΕΙ Λάρισας.</p>
        <p>Για πιο αναλυτική περιγραφή, περισσότερες πληροφορίες, τους συντελεστές της σελίδας,
        καθώς και τρόπους επικοινωνίας (για αναφορά προβλημάτων / ιδεών, ή ακόμα και για να βοηθήσετε
        στην ανάπτυξη), πατήστε <a href="/about">εδώ</a>.</p>
    </div>
    <div class="entry">
        <h3>Στοιχεία Χρήστη</h3>
        <ul>
            <li>Ονοματεπώνυμο: {{ user.first_name }} {{ user.last_name }}</li>
            {% if mail %} <li>Email: {{ user.email }}</li> {% endif %}
            <li>Αριθμός Μητρώου: {{ user.get_profile.registration_number }}</li>
            <li>Σχολή: {{ user.get_profile.school }}</li>
            <li>Εξάμηνο: {{ user.get_profile.semester }}</li>
            <li>Έτος Εισαγωγής: {{ user.get_profile.introduction_year }}</li>
        </ul>
    </div>
    <div class="entry rss-promo">
        <h3><a href="http://cronos.teilar.gr/feeds/announcements/{{user}}">RSS feed</a></h3>
        <p>Εγγραφείτε στο RSS feed με τις ανακοινώσεις που έχετε επιλέξει να παρακολουθείτε.</p>
    </div>
{% endblock %}
