{% extends "intro.html" %}

{% block title %}
    Είσοδος | 
{% endblock %}

{% block content %}
    <div id="login">
        <div id="info">
            <h3>Σχετικά</h3>
            <p>Η υπηρεσία Cronos αποτελεί μία υπηρεσία ενοποίησης των διαφόρων ιστοσελίδων του ΤΕΙ Λάρισας! <a class="links" href="/about">Περισσότερα για το Cronos</a></p>
            <h3>Είσοδος</h3>
            <p>Εισάγετε το όνομα χρήστη και κωδικό πρόσβασης που έχετε στο <a class="links" href="http://dionysos.teilar.gr">dionysos.teilar.gr</a></p>
            <h3>Αναφορά Σφάλματος</h3>
            <p>Αν αντιμετωπίζετε οποιοδήποτε πρόβλημα με την υπηρεσία, παρακαλούμε <a class="links" href="/about/#contact">επικοινωνήστε μαζί μας.</a></p>
        </div>
        <div id="login-form">
            <form action="." method="POST">{% csrf_token %}
                {% for field in form %}
                    {% ifequal forloop.counter0 2 %}
                        <br />
                        {{ field}}
                        <label style="display: inline; margin: 0 0 0 0" for="remember">Nα με θυμάσαι</label>
                        <br />
                    {% else %}
                        {{ field.label_tag }}{{ field }}
                    {% endifequal %}
                {% endfor %}
                <input class="button" type="submit" value="Είσοδος" name="submit" />
                <br />
                {% if notification %}
                    <p class="notifications">{{ notification.error }}</p>
                {% endif %}
            </form>
        </div>
    </div>
    <p class="social-icon">
    <a href="https://www.facebook.com/cronos.teilar.gr"><img src="/static/img/social_facebook.png" title="Friend us!" width="47" height="47"></a>
        <a href="https://twitter.com/CronosTeilarGr"><img src="/static/img/social_twitter.png" title="Follow us!" width="47" height="47"></a>
        <a href="/blog"><img src="/static/img/social_linuxteam.png" title="Our blog!" width="47" height="47"></a>
        <a href="/blog/feed"><img src="/static/img/social_rss.png" title="Subscribe to our Blog's RSS Feed!" width="47" height="47"></a>
        <a href="https://github.com/LinuxTeam-teilar/cronos.teilar.gr"><img src="/static/img/social_github.png" title="Fork us!" width="49" height="49"></a>
        <a href="mailto:cronos@teilar.gr"><img src="/static/img/social_mail.ico" title="Mail us!" width="50" height="50"></a>
     </p>

<div id="athina">
    <style>
        div#athina { 

           position:fixed;
           top:0px;

           margin-top:4px;
           padding-left:10px;
           padding-right:10px;
           padding-top:4px;
           padding-bottom: 4px;
           width:780px;
           left:50%;
           margin-left:-390px;
           text-align:center;

           background: #fcfcfc;
           border: solid 1px #aaa;
           font: normal 13px/17px Verdana, Arial, Helvetica, sans-serif;
           color: #212121;

           -moz-border-radius: 4px; /* FF1+ */
           -webkit-border-radius: 4px; /* Saf3+, Chrome */
           border-radius: 4px; /* Opera 10.5, IE 9 */

           -moz-box-shadow: 0px 0px 5px #ccc; /* FF3.5+ */
           -webkit-box-shadow: 0px 0px 5px #ccc; /* Saf3.0+, Chrome */
           box-shadow: 0px 0px 5px #ccc; /* Opera 10.5, IE 9.0 */


        }
      div#athina div#athina_title{
            color: #786721;
            font: bold 20px Verdana,Arial,sans-serif;
      }
      div#athina div#athina_nav span{
            margin-left:4px;
            margin-right:4px;
      }
      div#athina a {
            border-bottom: 1px dashed #212121;
            color: #786721;
            text-decoration: none;
      }  
      div#athina_content li{
          list-style-type:circle;
          margin-left: 16px;
      }
    </style>
    <div id="athina_title">
        ΟΧΙ στη μεταφορά του Τμήμ. Πληροφορικής &amp; Τηλεπ/νιών του ΤΕΙ Λάρισας στη Λαμία
    </div>
    <div style="text-align:justify;overflow-y:scroll;padding-left:4px;padding-right:8px;" id="athina_content">
        <div style="display:block;"> 
            <p>
                Το Τμήμα Τεχνολογίας Πληροφορικής και Τηλεπικοινωνιών του ΤΕΙ Λάρισας, με το σχέδιο «ΑΘΗΝΑ» του Υπουργείου Παιδείας, συγχωνεύεται με το αντίστοιχο Τμήμα της Λαμίας και μετακινείται στη Λαμία. Παρά τη διατυπωμένη (στη σύσκεψη διαβούλευσης) θετική στάση του Υπουργού για την ενδεχόμενη αναίρεση αυτής της ρύθμισης, καμιά σχετική τροποποίηση του σχεδίου «ΑΘΗΝΑ» δεν έχει ανακοινωθεί. Αυτή η κίνηση του Υπουργείου μπορεί να χαρακτηριστεί το λιγότερο καταστροφική, όχι μόνο για το ίδιο το Τμήμα και τους φοιτητές του αλλά και για όλο το ΤΕΙ Λάρισας.
            </p>
            <p>
                Η ακαδημαϊκή κοινότητα του ΤΕΙ Λάρισας δεν πρόκειται να επιτρέψει την υλοποίηση μιας ρύθμισης που παραβιάζει τις ίδιες τις αρχες του σχεδίου «ΑΘΗΝΑ» και χωρίς να βασίζεται σε μετρήσιμα ακαδημαϊκά κριτήρια, επιχειρεί με το "έτσι θέλω" να κλείσει ένα Τμήμα που έχει:
            </p>
            <ul>
                <li>τουλάχιστον 2000 ενεργούς φοιτητές (πρέπει να εγκαταλείψουν τη  Λάρισα το Σεπτέμβριο)</li>
                <li>6 εργαστηριακές αίθουσες και νέο εξοπλισμό που μόλις παραλήφθηκαν</li>
                <li>κοινό Πρόγραμμα Μεταπτυχιακών Σπουδών (επί 8 έτη), με το Univ. of Staffordshire, Αγγλία</li>
                <li>συνεργασία με το Univ. College Dublin (Ιρλανδία) καθώς και με τα Πανεπιστήμια Μακεδονίας και Πατρών σε προγράμματα Διδακτορικών Σπουδών</li>
                <li>16 μόνιμους διδάσκοντες</li>
                <li>επαρκή κτηριακή υποδομή (με υπό παράδοση νέο κτήριο γραφείων/εργαστηρίων κόστους ενός εκατομ. €)</li>
                <li>συστηματική απορρόφηση ερευνητικών προγραμμάτων με 4 ερευνητικά προγράμματα σε εξέλιξη και σημαντική παρουσία σε  διεθνείς οργανισμούς (OWASP, ISACA, ERASMUS)</li>
                <li>πολύπλευρη συνεργασία με Microsoft Hellas, CISCO, ORACLE, εταιρίες κινητής τηλεφωνίας, κτλ</li>
            </ul>
            <p>
                <b>ΓΙΑΤΙ</b> μεταφέρουν το Τμήμα σε άλλη Περιφέρεια και στερούν την Περιφέρεια  Θεσσαλίας από την εύκολη πρόσβαση σε τεχνολογική εκπαίδευση στην Πληροφορική και  τις Τηλεπικοινωνίες; <br>
                <b>ΓΙΑΤΙ</b> αποδυναμώνουν ολόκληρο το ΤΕΙ Λάρισας, στερώντας το από ένα Τμήμα με μέγεθος, πoιότητα και αποδεδειγμένη δυναμική;
            </p>
        </div>
        <div style="display:none;">
            <ol style="color:#FFFFFF">
                <li><a target="_blank" href="http://www.youtube.com/embed/rAyqFUiwagg?feature=player_detailpage&amp;autoplay=1&amp;autohide=1&amp;rel=0">Το Τμήμα</a></li>
                <li><a target="_blank" href="http://www.youtube.com/embed/RCdNC2K73-U?feature=player_detailpage&amp;autoplay=1&amp;autohide=1&amp;rel=0">Θεσσαλία TV 6 Φεβ. Πληροφορική ΤΕΙ Λάρισας Μέρος Α</a></li>
                <li><a target="_blank" href="http://www.youtube.com/embed/DJj1kfS4uqY?feature=player_detailpage&amp;autoplay=1&amp;autohide=1&amp;rel=0">Θεσσαλία TV 6 Φεβ. Πληροφορική ΤΕΙ Λάρισας Μέρος B</a></li>
                <li><a target="_blank" href="http://www.youtube.com/embed/zq-QPVs1re4?feature=player_detailpage&amp;autoplay=1&amp;autohide=1&amp;rel=0&amp;vq=hd720">Δέκα Ερωτήσεις και Μια Απορία Ζητούν Απάντηση! </a></li>
                <li><a target="_blank" href="http://www.youtube.com/embed/r61Q04EglF8?feature=player_detailpage&amp;autoplay=1&amp;autohide=1&amp;rel=0">Φοιτητές ΤΠΤ</a></li>
                <li><a target="_blank" href="http://www.youtube.com/embed/hJPh72BqUlU?feature=player_detailpage&amp;autoplay=1&amp;autohide=1&amp;rel=0">TRT - Κατάληψη ΤΕΙ Λάρισας</a></li>
                <li><a target="_blank" href="http://www.youtube.com/embed/pvW3FFXj6zQ?feature=player_detailpage&amp;autoplay=1&amp;autohide=1&amp;rel=0">ΤΕΙ ΛΑΡΙΣΑΣ ΤΠΤ ΘΕΣΣΑΛΙΑ TV </a></li>
                <li><a target="_blank" href="http://www.youtube.com/embed/X-3Y7hhjvRM?feature=player_detailpage&amp;autoplay=1&amp;autohide=1&amp;rel=0">Συγκέντρωση διαμαρτυρίας - πορεία (8/2/2013)</a></li>
            </ol>
        </div>
        <div style="display:none;">
            <a href="http://www.ipetitions.com/petition/cs-teilar/" target="_blank">Συλλογή Υπογραφών</a> <br />
            <a href="http://www.ipetitions.com/petition/cs-teilar/blog" target="_blank">Σχόλια</a>
        </div>
        <div style="display:none;">
            <div style="padding-left:4px;padding-right:8px;height:500px;">

                <p align="center" style="text-align:center" class="MsoNormal"><b>ΕΠΙΣΤΟΛΗ ΠΡΟΣ ΤΟΝ
                    ΥΠΟΥΡΓΟ ΠΑΙΔΕΙΑΣ κ ΑΡΒΑΝΙΤΟΠΟΥΛΟ</b></p>

                <p class="MsoNormal">Κύριε Υπουργέ</p>

                <p style="text-align:justify" class="MsoNormal">εν μέσω πλήθους θετικών ρυθμίσεων
                του σχεδίου ΑΘΗΝΑ, που απομένει να αποτιμηθούν από τους ενδιαφερόμενους φορείς
                στη λεπτομέρειά τους, διαπιστώνουμε κάποιες ρυθμίσεις οι οποίες</p>

                <p style="text-align:justify;text-indent:-18.0pt" class="MsoListParagraphCxSpFirst"><span style="font-family:Symbol">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span></span>αντιβαίνουν στις διακηρυγμένες αρχές εκπόνησης του σχεδίου ΑΘΗΝΑ</p>

                <p style="text-align:justify;text-indent:-18.0pt" class="MsoListParagraphCxSpLast"><span style="font-family:Symbol">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span></span>εμφανίζονται να υποκύπτουν στην πελατειακή λογική και τις πιέσεις
                παραγόντων</p>

                <p style="text-align:justify" class="MsoNormal"><u>Αναφερόμαστε στην «απορρόφηση»
                    του Τμήματος Πληροφορικής του ΤΕΙ Θεσσαλίας από το αντίστοιχο του ΤΕΙ Στερεάς
                    Ελλάδας</u>.</p>

                <p style="text-align:justify" class="MsoNormal">Η ρύθμιση αυτή αντιβαίνει στις
                διακηρυγμένες αρχές εκπόνησης του σχεδίου ΑΘΗΝΑ, διότι</p>

                <p style="text-align:justify;text-indent:-18.0pt" class="MsoListParagraph"><span style="font-family:Symbol">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><b>Υπονομεύει τη στοχευόμενη εναρμόνιση του εκπαιδευτικού και
                    αναπτυξιακού χάρτη της Ελλάδας</b>, στερώντας από το ΤΕΙ και την Περιφέρεια
                Θεσσαλίας το Τμήμα Πληροφορικής. Λόγω της φύσης του Τμήματος, η στέρηση αυτή
                έχει </p>

                <p style="margin-left:54.0pt;text-align:justify" class="MsoNormal">(α) αρνητικές
                συνέπειες στην υποστήριξη λειτουργικών αναγκών ολόκληρου του ΤΕΙ, σε θέματα
                νέων τεχνολογιών </p>

                <p style="margin-left:54.0pt;text-align:justify" class="MsoNormal">(β) αρνητικές
                συνέπειες στην υποστήριξη διεπιστημονικών συνεργασιών με τα υπόλοιπα Τμήματα
                του ΤΕΙ, σε θέματα Πληροφορικής &amp; νέων τεχνολογιών</p>

                <p style="margin-left:54.0pt;text-align:justify" class="MsoNormal">(γ) αρνητικές
                συνέπειες στη λειτουργία &nbsp;του Κέντρου Τεχνολογικής Έρευνας Θεσσαλίας, με την αποδυνάμωση
                του Τομέα Πληροφορικής</p>

                <p style="margin-left:54.0pt;text-align:justify" class="MsoNormal">(δ) αρνητικές
                συνέπειες στην εκπαίδευση επιστημονικού προσωπικού τεχνολογικής κατεύθυνσης με
                καταγωγή από την Περιφέρεια Θεσσαλίας σε θέματα Πληροφορικής &amp; νέων
                τεχνολογιών</p>

                <p style="margin-left:36.0pt;text-align:justify" class="MsoNormal">Με το σχέδιο
                ΑΘΗΝΑ, το ΤΕΙ Θεσσαλίας είναι <u>το μοναδικό ΤΕΙ</u> χωρίς Τμήμα Μηχανικών
                Πληροφορικής</p>

                <p style="text-align:justify;text-indent:-18.0pt" class="MsoListParagraph"><span style="font-family:Symbol">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><b>Αντιβαίνει στη διακηρυγμένη αρχή εξορθολογισμού της δομής της
                    ανώτατης εκπαίδευσης &ndash; δεν υποστηρίζεται από τα αντικειμενικά στοιχεία</b>
                διότι</p>

                <p style="margin-left:54.0pt;text-align:justify" class="MsoNormal">&nbsp;Το Τμήμα
                Πληροφορικής στη Λάρισα </p>

                <p style="margin-left:72.0pt;text-align:justify;
                text-indent:-18.0pt" class="MsoListParagraphCxSpFirst"><span style="font-family:&quot;Courier New&quot;">o<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span>με έτος ίδρυσης
                το 1999 (2000 το αντίστοιχο στη Λαμία), έχει 16 καθηγητές (9 το αντίστοιχο στη
                Λαμία), </p>

                <p style="margin-left:72.0pt;text-align:justify;
                text-indent:-18.0pt" class="MsoListParagraphCxSpMiddle"><span style="font-family:&quot;Courier New&quot;">o<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span>έχει επαρκή
                κτιριακή υποδομή που ενισχύθηκε με την πρόσφατη ανέγερση Κτιρίου Πληροφορικής
                κόστους 1.020.000 ευρώ</p>

                <p style="margin-left:72.0pt;text-align:justify;
                text-indent:-18.0pt" class="MsoListParagraphCxSpMiddle"><span style="font-family:&quot;Courier New&quot;">o<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span>έχει επαρκή
                εργαστηριακό εξοπλισμό (6 εργαστηριακές αίθουσες πληροφορικής και
                τηλεπικοινωνιών)</p>

                <p style="margin-left:72.0pt;text-align:justify;
                text-indent:-18.0pt" class="MsoListParagraphCxSpMiddle"><span style="font-family:&quot;Courier New&quot;">o<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span>έχει μεγάλο
                αριθμό ενεργών φοιτητών (πάνω από 2.000), πάνω από 40% των οποίων (στοιχεία
                Μητρώου Φοιτητών) επέλεξαν το Τμήμα λόγω προέλευσης από την Περιφέρεια
                Θεσσαλίας, και σαφώς πολυπληθέστερο ως Τμήμα από το αντίστοιχο στη Λαμία</p>

                <p style="margin-left:72.0pt;text-align:justify;
                text-indent:-18.0pt" class="MsoListParagraphCxSpMiddle"><span style="font-family:&quot;Courier New&quot;">o<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span>το Τμήμα
                συγκεντρώνει το ενδιαφέρον μετεγγραφής από άλλα Τμήματα στην Ελλάδα,
                συμπεριλαμβανόμενου και του αντίστοιχου στη Λαμία, όπως αποδεικνύεται από τον
                ετήσιο αριθμό αιτήσεων μετεγγραφής (την 5ετία 2005-2010: από Καλαμάτα 172, <u>από
                    Λαμία 45</u>, από Μακεδονία 53, από Καβάλα 63, από Ιόνιο 32, από Ήπειρο 82, από
                Σέρρες 16, από Μεσολόγγι 15, από άλλα ΤΕΙ 7)</p>

                <p style="margin-left:72.0pt;text-align:justify;
                text-indent:-18.0pt" class="MsoListParagraphCxSpMiddle"><span style="font-family:&quot;Courier New&quot;">o<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span>έχει αναπτύξει
                διεθνείς συνεργασίες, </p>

                <p style="margin-left:108.0pt;text-align:justify;
                text-indent:-18.0pt" class="MsoListParagraphCxSpMiddle"><span style="font-family:Wingdings">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span>όχι μόνο σε επίπεδο <span lang="EN-US">ERASMUS</span>, </p>

                <p style="margin-left:108.0pt;text-align:justify;
                text-indent:-18.0pt" class="MsoListParagraphCxSpMiddle"><span style="font-family:Wingdings">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span>αλλά και σε κοινό
                Πρόγραμμα Μεταπτυχιακών Σπουδών (εδώ και 8 έτη, με το <span lang="EN-US">Univ</span><span lang="EN-US"> </span><span lang="EN-US">Staffordshire</span>, <span lang="EN-US">UK</span>),
                </p>

                <p style="margin-left:108.0pt;text-align:justify;
                text-indent:-18.0pt" class="MsoListParagraphCxSpMiddle"><span style="font-family:Wingdings">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span>και οργανισμούς όπως
                ο <span lang="EN-US">OWASP</span><span lang="EN-US"> </span>και ο <span lang="EN-US">ISACA</span></p>

                <p style="margin-left:72.0pt;text-align:justify;
                text-indent:-18.0pt" class="MsoListParagraphCxSpMiddle"><span style="font-family:&quot;Courier New&quot;">o<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span>έχει συμμετοχή
                καθηγητών του στην καθοδήγηση Διδακτορικών Διατριβών, σε συνεργασία με ελληνικά
                Πανεπιστήμια (Παν Μακεδονίας, Παν Πατρών), αλλά και Πανεπιστήμια εξωτερικού (<span lang="EN-US">University</span><span lang="EN-US"> </span><span lang="EN-US">College</span><span lang="EN-US"> </span><span lang="EN-US">Dublin</span>)</p>

                <p style="margin-left:72.0pt;text-align:justify;
                text-indent:-18.0pt" class="MsoListParagraphCxSpMiddle"><span style="font-family:&quot;Courier New&quot;">o<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span>έχει ανοιχτεί
                στην αγορά εργασίας (συνεργασίες με <span lang="EN-US">Microsoft</span><span lang="EN-US"> </span><span lang="EN-US">Hellas</span>, εταιρείες Κινητής Τηλεφωνίας
                κλπ) </p>

                <p style="margin-left:72.0pt;text-align:justify;
                text-indent:-18.0pt" class="MsoListParagraphCxSpLast"><span style="font-family:&quot;Courier New&quot;">o<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span>έχει σταθερή
                και ικανοποιητική απορρόφηση ερευνητικών προγραμμάτων, με 4 ερευνητικά
                προγράμματα στον ΑΡΧΙΜΗΔΗ ΙΙΙ και συμμετοχή σε ερευνητικό πρόγραμμα στο ΘΑΛΗ</p>

                <p style="margin-left:54.0pt;text-align:justify" class="MsoNormal">Το Τμήμα
                Πληροφορικής στη Λαμία είναι σημαντικά μικρότερο σε πλήθος τόσο μελών ΕΠ όσο
                και φοιτητών</p>

                <p style="margin-left:36.0pt;text-align:justify" class="MsoNormal">Ποια είναι η
                λογική εξορθολογισμού όταν ένα μικρότερο Τμήμα απορροφά ένα μεγαλύτερο; Όταν
                ένα δυναμικότερο Τμήμα μετακομίζει για να ενισχύσει ένα Τμήμα που, παρά τις
                αναμφίβολα καλές προσπάθειες του ΕΠ του, εμφανίζεται να είναι λιγότερο
                δυναμικό;&nbsp; Ποιοι είναι οι λόγοι που αμφισβητούν τη βιωσιμότητα και το ρόλο του
                Τμήματος Πληροφορικής στη Λάρισα και την Περιφέρεια Θεσσαλίας;</p>

                <p style="margin-left:36.0pt;text-align:justify" class="MsoNormal">κ Υπουργέ,</p>

                <p style="margin-left:36.0pt;text-align:justify" class="MsoNormal">με εμπιστοσύνη
                ότι θα τηρηθούν οι αρχές του σχεδίου ΑΘΗΝΑ που σεις ο ίδιος προτάξατε,
                βασιζόμαστε στην παρέμβασή σας για την αναίρεση εξω-ακαδημαϊκών παρεμβάσεων
                πελατειακής λογικής που διαμόρφωσαν τη συγκεκριμένη ρύθμιση. </p>

                <p align="center" style="margin-left:7.0cm;text-align:center" class="MsoNormal">Με
                εκτίμηση</p>

                <p align="center" style="margin-left:7.0cm;text-align:center" class="MsoNormal">&nbsp;</p>

                <p align="center" style="margin-left:7.0cm;text-align:center" class="MsoNormal">Χ.
                Χαρτώνας,</p>

                <p align="center" style="margin-left:7.0cm;text-align:center" class="MsoNormal">Καθηγητής,
                Πρόεδρος Τμήματος Τεχν. Πληροφορικής &amp; Τηλεπικοινωνιών,ΤΕΙ Λάρισας</p>

                <p align="center" style="margin-left:7.0cm;text-align:center" class="MsoNormal"><i>(εκ
                    μέρους των μελών ΕΠ του Τμήματος)</i></p>

            </div>
        </div>
    </div>
    <div id="athina_nav">
        <span><a href="#">Ανακοίνωση</a></span>
        <span><a href="#">Video</a></span>
        <span><a href="#">Συλλογή υπογραφών</a></span>
        <span><a href="#">Επιστολή</a></span>
        <span style="float:right;"><a href="#">Απόκρυψη</a></span>
    </div>
    <script type="text/javascript">
    <!--
   athina_nav = function() {
       nav_button = $(this).parent().index();
       $("div#athina_content>div:visible").slideUp();
       $("div#athina_content>div:eq(" +nav_button+ ")").slideDown();
        }
    for(i=0;i<4;i++){
        $("div#athina_nav>span:eq("+i+")>a").bind("click",athina_nav,false);
    }   
    $("div#athina_nav>span:eq(4)>a").bind("click",function(){$("div#athina_content>div:visible").slideUp();});
    -->
    </script>
</div>

{% endblock %}
