{% extends "intro.html" %}

{% block title %}
    Είσοδος | 
{% endblock %}

{% block content %}
    <div id="login">
        <div id="info">
            <h3>Σχετικά</h3>
            <p>Η υπηρεσία Cronos αποτελεί μία υπηρεσία ενοποίησης των διαφόρων ιστοσελίδων του ΤΕΙ Λάρισας! <a class="links" href="/about">Περισσότερα για το Cronos</a></p>
            <h3>Είσοδος</h3>
            <p>Εισάγετε το όνομα χρήστη και κωδικό πρόσβασης που έχετε στο <a class="links" href="http://dionysos.teilar.gr">dionysos.teilar.gr</a></p>
            <h3>Αναφορά Σφάλματος</h3>
            <p>Αν αντιμετωπίζετε οποιοδήποτε πρόβλημα με την υπηρεσία, παρακαλούμε <a class="links" href="/about/#contact">επικοινωνήστε μαζί μας.</a></p>
        </div>
        <div id="login-form">
            <form action="." method="POST">{% csrf_token %}
                {% for field in form %}
                    {% ifequal forloop.counter0 2 %}
                        <br />
                        {{ field}}
                        <label style="display: inline; margin: 0 0 0 0" for="remember">Nα με θυμάσαι</label>
                        <br />
                    {% else %}
                        {{ field.label_tag }}{{ field }}
                    {% endifequal %}
                {% endfor %}
                <input class="button" type="submit" value="Είσοδος" name="submit" />
                <br />
                {% if msg %}
                    <p class="messages">{{ msg }}</p>
                {% endif %}
            </form>
        </div>
    </div>
    <p class="social-icon">
    <a href="https://www.facebook.com/cronos.teilar.gr"><img src="/static/img/social_facebook.png" title="Friend us!" width="47" height="47"></a>
        <a href="https://twitter.com/CronosTeilarGr"><img src="/static/img/social_twitter.png" title="Follow us!" width="47" height="47"></a>
        <a href="http://cronos.teilar.gr/blog"><img src="/static/img/social_linuxteam.png" title="Our blog!" width="47" height="47"></a>
        <a href="http://linuxteam.teilar.gr/blog/1464/feed"><img src="/static/img/social_rss.png" title="Subscribe to our Blog's RSS Feed!" width="47" height="47"></a>
        <a href="https://github.com/LinuxTeam-teilar/cronos.teilar.gr"><img src="/static/img/social_github.png" title="Fork us!" width="49" height="49"></a>
        <a href="mailto:cronos@teilar.gr"><img src="/static/img/social_mail.ico" title="Mail us!" width="50" height="50"></a>
     </p>
{% endblock %}
