{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    {{ title }} | 
{% endblock %}

{% block more %}
    {% if title == "Ανακοινώσεις" %}
        <link rel="alternate" type="application/rss+xml" title="{{ title }} RSS" href="/announcements/{{ user }}/feed" />
    {% elif title == "Blog" %}
        <link rel="alternate" type="application/rss+xml" title="{{ title }} RSS" href="/blog/feed" />
    {% endif %}
{% endblock %}

{% block extra_js_top %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/endless.js" %}"></script>
    <script type="text/javascript" src="{% static "js/endless_on_scroll.js" %}"></script>
{% endblock %}

{% block content %}
    {% include page_template %}
{% endblock %}
