{% extends "base.html" %}

{% block title %}
    Ψυγεία |
{% endblock %}

{% block content %}
<div class="entry">
    <h3>Πληροφορίες</h3>
    <p>
    Η συγκεκριμένη καρτέλα απευθύνεται στους φοιτητές Μηχανολογίας. Σκοπός της
    είναι ο υπολογισμός των ψυκτικών φορτίων ενός βιομηχανικού ψυγείου. Ο
    φοιτητής με ελάχιστο κόπο μπορεί να υπολογίσει το ποσό της ενέργειας που
    απατείται από τον ψυκτικό του θάλαμο για τη συντήρηση ή την κατάψυξη
    συγκεκριμένων προϊόντων
    </p>
    <p>
    Στο αρχείο 'Βοηθητικοί πίνακες' θα βρείτε χρήσιμους πίνακες και πληροφορίες
    που θα σας βοηθήσουν να συμπληρώσετε τις παρακάτω πληροφορίες. Καντε κλικ
    εδώ.
    </p>
</div>
<form action="/refrigerators/" method="post">{% csrf_token %}
<div class="entry">
    <h3>Υπολογισμός ροής θερμότητας (Β)</h3>
    <p>
    <i>Υπολογισμός απωλειών από την Βόρεια πλευρά του Ψυγείου. Εισάγετε τον
    συντελεστή θερμοπερατότητας της πλευράς σας, την επιφάνεια της πλευρά σας
    και τη διαφορά θερμοκρασίας εξωτερικά με εσωτερικά της πλευράς. Αν δεν
    χρειάζεται υπολογισμός απλώς συμπληρώστε μηδενικές τιμές στα πεδία.</i>
    </p>
    <table>
        {% for field in form1 %}
        <tr><td>{{ field.label_tag }}</td><td>{{ field }}{{ field.help_text }}</td></tr>
        {% endfor %}
    </table>
</div>
<div class="entry">
    <h3>Υπολογισμός ροής θερμότητας (Ν)</h3>
    <p>
    <i>Υπολογισμός απωλειών από την Νότια πλευρά του Ψυγείου. Εισάγετε τον
    συντελεστή θερμοπερατότητας της πλευράς σας, την επιφάνεια της πλευρά σας
    και τη διαφορά θερμοκρασίας εξωτερικά με εσωτερικά της πλευράς. Αν δεν
    χρειάζεται υπολογισμός απλώς συμπληρώστε μηδενικές τιμές στα πεδία.</i>
    </p>
    <table>
        {% for field in form2 %}
        <tr><td>{{ field.label_tag }}</td><td>{{ field }}{{ field.help_text }}</td></tr>
        {% endfor %}
    </table>
</div>
<div class="entry">
    <h3>Υπολογισμός ροής θερμότητας (Α)</h3>
    <p>
    <i>Υπολογισμός απωλειών από την Ανατολική πλευρά του Ψυγείου. Εισάγετε τον
    συντελεστή θερμοπερατότητας της πλευράς σας, την επιφάνεια της πλευρά σας
    και τη διαφορά θερμοκρασίας εξωτερικά με εσωτερικά της πλευράς. Αν δεν
    χρειάζεται υπολογισμός απλώς συμπληρώστε μηδενικές τιμές στα πεδία.</i>
    </p>
    <table>
        {% for field in form3 %}
        <tr><td>{{ field.label_tag }}</td><td>{{ field }}{{ field.help_text }}</td></tr>
        {% endfor %}
    </table>
</div>
<div class="entry">
    <h3>Υπολογισμός ροής θερμότητας (Δ)</h3>
    <p>
    <i>Υπολογισμός απωλειών από την Δυτική πλευρά του Ψυγείου. Εισάγετε τον
    συντελεστή θερμοπερατότητας της πλευράς σας, την επιφάνεια της πλευρά σας
    και τη διαφορά θερμοκρασίας εξωτερικά με εσωτερικά της πλευράς. Αν δεν
    χρειάζεται υπολογισμός απλώς συμπληρώστε μηδενικές τιμές στα πεδία.</i>
    </p>
    <table>
        {% for field in form4 %}
        <tr><td>{{ field.label_tag }}</td><td>{{ field }}{{ field.help_text }}</td></tr>
        {% endfor %}
    </table>
</div>
<div class="entry">
    <h3>Υπολογισμός ροής θερμότητας (Ο)</h3>
    <p>
    <i>Υπολογισμός απωλειών από την οροφή του Ψυγείου. Εισάγετε τον
    συντελεστή θερμοπερατότητας της πλευράς σας, την επιφάνεια της πλευρά σας
    και τη διαφορά θερμοκρασίας εξωτερικά με εσωτερικά της πλευράς. Αν δεν
    χρειάζεται υπολογισμός απλώς συμπληρώστε μηδενικές τιμές στα πεδία.</i>
    </p>
    <table>
        {% for field in form5 %}
        <tr><td>{{ field.label_tag }}</td><td>{{ field }}{{ field.help_text }}</td></tr>
        {% endfor %}
    </table>
</div>
<div class="entry">
    <h3>Υπολογισμός ροής θερμότητας (ΔΑΠ)</h3>
    <p>
    <i>Υπολογισμός απωλειών από το δάπεδο του Ψυγείου. Εισάγετε τον
    συντελεστή θερμοπερατότητας της πλευράς σας, την επιφάνεια της πλευρά σας
    και τη διαφορά θερμοκρασίας εξωτερικά με εσωτερικά της πλευράς. Αν δεν
    χρειάζεται υπολογισμός απλώς συμπληρώστε μηδενικές τιμές στα πεδία.</i>
    </p>
    <table>
        {% for field in form6 %}
        <tr><td>{{ field.label_tag }}</td><td>{{ field }}{{ field.help_text }}</td></tr>
        {% endfor %}
    </table>
</div>
<div class="entry">
    <h3>Υπολογισμός φορτίου αλλαγών αέρα</h3>
    <p>
    <i>Συμπληρώστε προσεγγιστικά τις τιμές που ζητούνται στα πεδία.</i>
    </p>
    <table>
        {% for field in form7 %}
        <tr><td>{{ field.label_tag }}</td><td>{{ field }}{{ field.help_text}}</td></tr>
        {% endfor %}
    </table>
</div>
<div class="entry">
    <h3>Υπολογισμός φορτίου προϊόντος</h3>
    <p>
    <i>Επιλέξτε αν θέλετε να συντηρήσετε ένα προϊόν ή να το καταψύξετε. Αν
        επιλέξετε να συντηρήσετε το προϊόν τότε αφήστε κενό το πεδίο "Διαφορά
        θερμοκρασίας κατάψυξης".</i>
    </p>
    <table>
        {% for field in form8 %}
        <tr><td>{{ field.label_tag }}</td><td>{{ field }}{{ field.help_text}}</td></tr>
        {% endfor %}
    </table>
</div>
<div class="entry">
    <h3>Υπολογισμός θερμότητας αναπνοής</h3>
    <p>
    <i>Θα βρείτε οδηγίες συμπλήρωσης στο αρχείο ‘Βοηθητικοί πίνακες’. επιλέξτε
        τις τιμές από εκεί και συμπληρώστε τες στα πεδία.</i>
    </p>
    <table>
        {% for field in form9 %}
        <tr><td>{{ field.label_tag }}</td><td>{{ field }}{{ field.help_text}}</td></tr>
        {% endfor %}
    </table>
</div>
<div class="entry">
    <h3>Διάφορα φορτία</h3>
    <p>
    <i>Θα βρείτε μερικά ενδεικτικά φορτία στο αρχείο ‘Βοηθητικοί πίνακες’. Εδώ
        συμπληρώνουμε απ’ ευθείας το ποσό σε Kw αφού το υπολογίσουμε μόνοι
        μας.</i>
    </p>
    <table>
        {% for field in form10 %}
        <tr><td>{{ field.label_tag }}</td><td>{{ field }}{{ field.help_text}}</td></tr>
        {% endfor %}
    </table>
</div>
<div class="entry">
    <h3>Χρήση συντελεστή ασφάλειας</h3>
    <p>
    <i>Εδώ θα πρέπει να συμπληρώσετε τον συντελεστή ασφαλείας της επιλογή σας. Ο
        συντελεστής θα πρέπει να σε μορφή π.χ. 1,1 για 10%. Οι συνήθεις επιλογές
        συντελεστή ασφαλείας είναι από 5-10%</i>
    </p>
    <table>
        {% for field in form11 %}
        <tr><td>{{ field.label_tag }}</td><td>{{ field }}{{ field.help_text}}</td></tr>
        {% endfor %}
    </table>
</div>
<div class="entry">
    <h3>Ώρες λειτουργίας του ψυγείου ανά μέρα</h3>
    <p>
    <i>Εισάγεται τις ώρες που θέλετε να λειτουργεί την ημέρα η εγκατάστασή
        σας.</i>
    </p>
    <table>
        {% for field in form12 %}
        <tr><td>{{ field.label_tag }}</td><td>{{ field }}{{ field.help_text}}</td></tr>
        {% endfor %}
    </table>
</div>
<div class="entry">
    <h3>Υπολογισμός αποτελεσμάτων</h3>
    <p>
    Πατήστε το κουμπί "Υπολογισμός αποτελεσμάτων, για να συλλέξετε το αποτέλεσμα
    της κάθε μέτρησης, καθώς και συνολικό αποτέλεσμα όλων των μετρήσεων:
    </p>
    <p align="center">
    <input type="submit" value="Υπολογισμός αποτελεσμάτων" />
    </p>
</div>
</form>
{% if total_result %}
<div class="entry rss-promo">
    <h3>Αποτελέσματα</h3>
    <table>
        <tr><td><b>Υπολογισμός ροής θερμότητας (Β)</b></td></tr>
        <tr><td>Συντελεστής Θερμοπερατότητας (Κ):</td><td>{{ sint_thermop1 }} KW/m^2*K</td></tr>
        <tr><td>Επιφάνεια Πλευράς:</td><td>{{ epif_pleuras1 }} m^2</td></tr>
        <tr><td>Διαφορά Θερμοκρασίας:</td><td>{{ dt1 }} K</td></tr>
        <tr><td><i>Αποτέλεσμα:</i></td><td>{{ result1 }} KWatt</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td><b>Υπολογισμός ροής θερμότητας (N)</b></td></tr>
        <tr><td>Συντελεστής Θερμοπερατότητας (Κ):</td><td>{{ sint_thermop2 }} KW/m^2*K</td></tr>
        <tr><td>Επιφάνεια Πλευράς:</td><td>{{ epif_pleuras2 }} m^2</td></tr>
        <tr><td>Διαφορά Θερμοκρασίας:</td><td>{{ dt2 }} K</td></tr>
        <tr><td><i>Αποτέλεσμα:</i></td><td>{{ result2 }} KWatt</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td><b>Υπολογισμός ροής θερμότητας (Α)</b></td></tr>
        <tr><td>Συντελεστής Θερμοπερατότητας (Κ):</td><td>{{ sint_thermop3 }} KW/m^2*K</td></tr>
        <tr><td>Επιφάνεια Πλευράς:</td><td>{{ epif_pleuras3 }} m^2</td></tr>
        <tr><td>Διαφορά Θερμοκρασίας:</td><td>{{ dt3 }} K</td></tr>
        <tr><td><i>Αποτέλεσμα:</i></td><td>{{ result3 }} KWatt</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td><b>Υπολογισμός ροής θερμότητας (Δ)</b></td></tr>
        <tr><td>Συντελεστής Θερμοπερατότητας (Κ):</td><td>{{ sint_thermop4 }} KW/m^2*K</td></tr>
        <tr><td>Επιφάνεια Πλευράς:</td><td>{{ epif_pleuras4 }} m^2</td></tr>
        <tr><td>Διαφορά Θερμοκρασίας:</td><td>{{ dt4 }} K</td></tr>
        <tr><td><i>Αποτέλεσμα:</i></td><td>{{ result4 }} KWatt</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td><b>Υπολογισμός ροής θερμότητας (Ο)</b></td></tr>
        <tr><td>Συντελεστής Θερμοπερατότητας (Κ):</td><td>{{ sint_thermop5 }} KW/m^2*K</td></tr>
        <tr><td>Επιφάνεια Πλευράς:</td><td>{{ epif_pleuras5 }} m^2</td></tr>
        <tr><td>Διαφορά Θερμοκρασίας:</td><td>{{ dt5 }} K</td></tr>
        <tr><td><i>Αποτέλεσμα:</i></td><td>{{ result5 }} KWatt</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td><b>Υπολογισμός ροής θερμότητας (ΔΑΠ)</b></td></tr>
        <tr><td>Συντελεστής Θερμοπερατότητας (Κ):</td><td>{{ sint_thermop6 }} KW/m^2*K</td></tr>
        <tr><td>Επιφάνεια Πλευράς:</td><td>{{ epif_pleuras6 }} m^2</td></tr>
        <tr><td>Διαφορά Θερμοκρασίας:</td><td>{{ dt6 }} K</td></tr>
        <tr><td><i>Αποτέλεσμα:</i></td><td>{{ result6 }} KWatt</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td><b>Υπολογισμός φορτίων αλλαγών αέρα</b></td></tr>
        <tr><td>Ενθαλπία αέρα εισροής:</td><td>{{ enthalpia_aera_eisrois7 }} Kj/lt</td></tr>
        <tr><td>Όγκος αέρα εισροής:</td><td>{{ ogkos_aera_eisrois7 }} lt/s</td></tr>
        <tr><td><i>Αποτέλεσμα:</i></td><td>{{ result7 }} KWatt</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td><b>Υπολογισμός τροφίμων προς {{ sint_kataps }}</b></td></tr>
        {% if sint_bathmou_psiksis8 %}
        <tr><td>Συντελεστής βαθμού ψύξης:</td><td>{{ sint_bathmou_psiksis8 }}</td></tr>
        {% endif %}
        <tr><td>Ειδική θερμότητα προ στερεοποίησης:</td><td>{{ eidiki_thermotita_pr8 }} Kj/Kg*K</td></tr>
        <tr><td>Διαφορά θερμοκρασίας συντήρησης:</td><td>{{ dt8 }} K</td></tr>
        {% if not sint_bathmou_psiksis8 %}
        <tr><td>Ειδική θερμότητα μετά στερεοποίησης:</td><td>{{ eidiki_thermotita_mt8 }} Kj/Kg*K</td></tr>
        <tr><td>Διαφορά θερμοκρασίας ψύξης:</td><td>{{ dt_mt8 }} K</td></tr>
        <tr><td>Λανθάνουσα θερμότητα στερεοποίησης:</td><td>{{ lanthanousa_therm_ster8 }} Kj/Kg</td></tr>
        {% endif %}
        <tr><td>Ώρες Ψύξης:</td><td>{{ ores_psiksis8 }} Ώρες</td></tr>
        <tr><td>Μάζα:</td><td>{{ maza8 }} Kg</td></tr>
        <tr><td><i>Αποτέλεσμα:</i></td><td>{{ result8 }} KWatt</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td><b>Υπολογισμός θερμότητας αναπνοής</b></td></tr>
        <tr><td>Μάζα:</td><td>{{ maza9 }} Kg</td></tr>
        <tr><td>Τιμή αναπνοής</td><td>{{ timi_anapnois9 }} KW/Kg</td></tr>
        <tr><td><b>Αποτέλεσμα:</b></td><td>{{ result9 }} KWatt</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td><b>Διάφορα φορτία</b></td></tr>
        <tr><td>Διάφορα φορτία:</td><td>{{ diafora_fortia10 }} KWatt</td></tr>
        <tr><td><b>Αποτέλεσμα:</b></td><td>{{ result10 }} KWatt</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td><b>Χρήση συντελεστή ασφαλείας</b></td></tr>
        <tr><td>Συντελεστής ασφαλείας:</td><td>{{ sintelestis_asfaleias11 }}</td></tr>
        <tr><td><b>Αποτέλεσμα:</b></td><td>{{ result11 }} KWatt</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td><b>Ώρες λειτουργίας του ψυγείου ανά μέρα</b></td></tr>
        <tr><td>Ώρες λειτουργίας του ψυγείου ανά μέρα:</td><td>{{ sintelestis_diakop_leit12 }} Ώρες</td></tr>
        <tr><td><b>Αποτέλεσμα:</b></td><td>{{ result12 }} KWatt</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td><b>Συνολικό Αποτέλεσμα:</b></td><td>{{ total_result }} KWatt</td></tr>
    </table>
</div>
{% endif %}
{% endblock %}
