{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Ρυθμίσεις χρήστη {{user}} | 
{% endblock %}

{% block content %}
    <div class="entry" id="teilar">
        <h3>Λογαριασμοί υπηρεσιών ΤΕΙ Λάρισας</h3>
        <p>Σε περίπτωση που αλλάξατε το όνομα χρήστη ή τον κωδικό πρόσβασης για
        κάποια από τις ακόλουθες υπηρεσίες του ΤΕΙ Λάρισας, ή εαν θέλετε να
        προσθέσετε κάποια από αυτές στο λογαριασμό σας στο Cronos, συμπληρώστε τα νέα
		στοιχεία στην κατάλληλη φόρμα</p>
		<p><label>Service: </label><a id="service" href="http://e-class.teilar.gr">e-class.teilar.gr</a><br />
            <form action="." method="POST">{% csrf_token %}
				<label>Username:</label>{% if user.get_profile.eclass_username %}
                    {{ user.get_profile.eclass_username }}
                {% else %}
                    {{ eclass_credentials_form.eclass_username }}
                {% endif %}
                <br />
				<label>Pasword:</label>{{ eclass_credentials_form.eclass_password }}<br />
                <p><input class="button" type="submit" value=
                {% if user.get_profile.eclass_username %}
                    "Ανανέωση"
                {% else %}
                    "Προσθήκη"
                {% endif %}
                /></p>
		</form>
        </p>
    </div>

    <div class="entry" id="other">
        <h3>Ανανέωση Στοιχείων</h3>
        <table>
            <tr>
                <th><a href="/dionysos/#declaration">Δήλωση Μαθημάτων</a></th>
                <th><a href="/dionysos/#grades">Βαθμολογία</a></th>
                {% if user.get_profile.eclass_username %}
                    <th><a href="/eclass">Μαθήματα e-class</a></th>
                {% endif %}
            </tr>
            <tr>
                <td>
                    <form action="." method="POST" align="center">{% csrf_token %}
                        {% for field in declaration_form %}
                            {{ field }}
                        {% endfor %}
                        <input class="button" type="submit" name="declaration" value="Ανανέωση" />
                    </form>
                </td>
                <td>
                    <form action="." method="POST" align="center">{% csrf_token %}
                        {% for field in grades_form %}
                            {{ field }}
                        {% endfor %}
                        <input class="button" type="submit" name="grades" value="Ανανέωση" />
                    </form>
                </td>
                <td>
                    {% if user.get_profile.eclass_username %}
                    <form action="." method="POST" align="center">{% csrf_token %}
                        {% for field in eclass_lessons_form %}
                            {{ field }}
                        {% endfor %}
                        <input class="button" type="submit" name="eclass_lessons" value="Ανανέωση" />
                    </form>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
