{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Ρυθμίσεις χρήστη {{user}} | 
{% endblock %}

{% block extra_js_top %}
    <script type="text/javascript" src="{% static "js/multibox.js" %}"></script>
{% endblock %}

{% block content %}
    {% if msg %}
        <div id="notifications">
            <p>{{ msg }}</p>
        </div>
    {% endif %}
    <div class="entry" id="teilar">
        <h3>Λογαριασμοί υπηρεσιών ΤΕΙ Λάρισας</h3>
        <p>Σε περίπτωση που αλλάξατε το όνομα χρήστη ή τον κωδικό πρόσβασης για
        κάποια από τις ακόλουθες υπηρεσίες του ΤΕΙ Λάρισας, ή εαν θέλετε να
        προσθέσετε κάποια από αυτές στο λογαριασμό σας στο Cronos, συμπληρώστε τα νέα
        στοιχεία στην κατάλληλη φόρμα</p>
        <table>
            <tr>
                <th><i><a href="http://e-class.teilar.gr">e-class.teilar.gr</a>: </i>
                    {% if user.get_profile.eclass_username %}
                        {{ user.get_profile.eclass_username }}
                    {% else %}
                        ----
                    {% endif %}
                </th>
                <th><i><a href="http://myweb.teilar.gr">myweb.teilar.gr</a>: </i>
                    {% if user.get_profile.webmail_username %}
                        {{ user.get_profile.webmail_username }}
                    {% else %}
                        ----
                    {% endif %}
                </th>
            </tr>
            <tr>
                <td>
                    <form action="." method="POST" align="center">{% csrf_token %}
                        {% for field in eclass_credentials_form %}
                            {{ field }}<br />
                        {% endfor %}
                        <input class="button" type="submit" value=
                        {% if user.get_profile.eclass_username %}
                            "Ανανέωση"
                        {% else %}
                            "Προσθήκη"
                        {% endif %}
                        />
                    </form>
                </td>
                <td>
                    <form action="." method="POST" align="center">
                        {% for field in webmail_form %}
                            {{ field }}<br />
                        {% endfor %}
                        <input class="button" type="submit" value=
                        {% if user.get_profile.webmail_username %}
                            "Ανανέωση"
                        {% else %}
                            "Προσθήκη"
                        {% endif %}
                        />
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div class="entry" id="other">
        <h3>Άλλα Στοιχεία</h3>
        <table>
            <tr>
                <th><a href="/dionysos/#declaration">Δήλωση Μαθημάτων</a></th>
                <th><a href="/dionysos/#grades">Βαθμολογία</a></th>
                {% if user.get_profile.eclass_username %}
                    <th><a href="/eclass">Μαθήματα E-class</a></th>
                {% endif %}
            </tr>
            <tr>
                <td>
                    <form action="." method="POST" align="center">
                        {% for field in declaration_form %}
                            {{ field }}
                        {% endfor %}
                        <input class="button" type="submit" value="Ανανέωση" />
                    </form>
                </td>
                <td>
                    <form action="." method="POST" align="center">
                        {% for field in grades_form %}
                            {{ field }}
                        {% endfor %}
                        <input class="button" type="submit" value="Ανανέωση" />
                    </form>
                </td>
                <td>
                    {% if user.get_profile.eclass_username %}
                    <form action="." method="POST" align="center">
                        {% for field in eclass_lessons_form %}
                            {{ field }}
                        {% endfor %}
                        <input class="button" type="submit" value="Ανανέωση" />
                    </form>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>

    <div class="entry" id="teachers">
        <h3>Ανακοινώσεις Καθηγητών</h3>
        <form action="." method="POST" id="select_teachers">{% csrf_token %}
            <select multiple="multiple" name="teachers_unselected" id="teachers_unselected">
                {% for teacher in teachers_unselected %}
                    <option value="{{ teacher.id }}">{{ teacher.name }}</option>
                {% endfor %}
            </select>
            <select multiple="multiple" name="teachers_selected" id="teachers_selected">
                {% for teacher in teachers_selected %}
                    <option value="{{ teacher.id }}">{{ teacher.name }}</option>
                {% endfor %}
            </select>
            <div id="add1pl"><a href="#" id="add1">Προσθήκη &gt;&gt;</a></div>
            <div id="remove1pl"><a href="#" id="remove1">&lt;&lt; Αφαίρεση</a></div>
            <br /><br /><br />
            <input class="button" type="submit" value="Ανανέωση" />
        </form>
        <form action="." method="POST">
            <input class="button" type="submit" value="Διαγραφή Όλων" />
        </form>
    </div>

    <div class="entry" id="websites">
        <h3>Άλλες Ανακοινώσεις</h3>
        <form action="." method="POST" id="select_websites">
            <select multiple="multiple" name="websites_unselected" id="websites_unselected">
                {% for website in websites_unselected %}
                    <option value="{{ website.id }}">{{ website.name }}</option>
                {% endfor %}
            </select>
            <select multiple="multiple" name="websites_selected" id="websites_selected">
                {% for website in websites_selected %}
                    <option value="{{ website.id }}">{{ website.name }}</option>
                {% endfor %}
            </select>
            <div id="add2pl"><a href="#" id="add2">Προσθήκη &gt;&gt;</a></div>
            <div id="remove2pl"><a href="#" id="remove2">&lt;&lt; Αφαίρεση</a></div>
            <br /><br /><br />
            <input class="button" type="submit" value="Ανανέωση" name="update" />
        </form>
        <form action="." method="POST">
            <input class="button" type="submit" value="Διαγραφή Όλων" name="delete2" />
        </form>
    </div>
{% endblock %}
