{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Ρυθμίσεις χρήστη {{user}} | 
{% endblock %}

{% block extra_js_top %}
    <script type="text/javascript" src="{% static "js/multibox.js" %}"></script>
{% endblock %}

{% block content %}
    {% if msg %}
        <div id="notifications">
            <p>{{ msg }}</p>
        </div>
    {% endif %}

    <div class="entry" id="teilar">
        <h3>Λογαριασμοί υπηρεσιών ΤΕΙ Λάρισας</h3>
        <p>Σε περίπτωση που αλλάξατε το όνομα χρήστη ή τον κωδικό πρόσβασης για
        κάποια από τις ακόλουθες υπηρεσίες του ΤΕΙ Λάρισας, ή εαν θέλετε να
        προσθέσετε κάποια από αυτές στο λογαριασμό σας στο Cronos, συμπληρώστε τα νέα
        στοιχεία στην κατάλληλη φόρμα</p>
        <p><a href="http://e-class.teilar.gr">e-class.teilar.gr</a><br />
            <form action="." method="POST">{% csrf_token %}
                {% if user.get_profile.eclass_username %}
                    {{ user.get_profile.eclass_username }}
                {% else %}
                    {{ eclass_credentials_form.eclass_username }}
                {% endif %}
                <br />
                {{ eclass_credentials_form.eclass_password }}<br />
                <input class="button" type="submit" value=
                {% if user.get_profile.eclass_username %}
                    "Ανανέωση"
                {% else %}
                    "Προσθήκη"
                {% endif %}
                />
            </form>
        </p>
    </div>

    <div class="entry" id="other">
        <h3>Ανανέωση Στοιχείων</h3>
        <table>
            <tr>
                <th><a href="/dionysos/#declaration">Δήλωση Μαθημάτων</a></th>
                <th><a href="/dionysos/#grades">Βαθμολογία</a></th>
                {% if user.get_profile.eclass_username %}
                    <th><a href="/eclass">Μαθήματα e-class</a></th>
                {% endif %}
            </tr>
            <tr>
                <td>
                    <form action="." method="POST" align="center">{% csrf_token %}
                        {% for field in declaration_form %}
                            {{ field }}
                        {% endfor %}
                        <input class="button" type="submit" name="declaration" value="Ανανέωση" />
                    </form>
                </td>
                <td>
                    <form action="." method="POST" align="center">{% csrf_token %}
                        {% for field in grades_form %}
                            {{ field }}
                        {% endfor %}
                        <input class="button" type="submit" name="grades" value="Ανανέωση" />
                    </form>
                </td>
                <td>
                    {% if user.get_profile.eclass_username %}
                    <form action="." method="POST" align="center">{% csrf_token %}
                        {% for field in eclass_lessons_form %}
                            {{ field }}
                        {% endfor %}
                        <input class="button" type="submit" name="eclass_lessons" value="Ανανέωση" />
                    </form>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>

    <div class="entry" id="teachers">
        <h3>Ανακοινώσεις Καθηγητών</h3>
        <form action="." method="POST" id="select_teachers">{% csrf_token %}
            <select multiple="multiple" name="teachers_unselected" id="teachers_unselected">
                {% for teacher in teachers_unfollowing %}
                    <option value="{{ teacher.id }}">{{ teacher.name }}</option>
                {% endfor %}
            </select>
            <select multiple="multiple" name="teachers_selected" id="teachers_selected">
                {% for teacher in teachers_following %}
                    <option value="{{ teacher.id }}">{{ teacher.name }}</option>
                {% endfor %}
            </select>
            <div id="add1pl"><a href="#" id="add1">Προσθήκη &gt;&gt;</a></div>
            <div id="remove1pl"><a href="#" id="remove1">&lt;&lt; Αφαίρεση</a></div>
            <br /><br /><br />
            <input class="button" type="submit" name="teachers" value="Ανανέωση" />
        </form>
    </div>

    <div class="entry" id="websites">
        <h3>Άλλες Ανακοινώσεις</h3>
        <form action="." method="POST" id="select_websites">{% csrf_token %}
            <select multiple="multiple" name="websites_unselected" id="websites_unselected">
                {% for website in websites_unfollowing %}
                    <option value="{{ website.id }}">{{ website.name }}</option>
                {% endfor %}
            </select>
            <select multiple="multiple" name="websites_selected" id="websites_selected">
                {% for website in websites_following %}
                    <option value="{{ website.id }}">{{ website.name }}</option>
                {% endfor %}
            </select>
            <div id="add2pl"><a href="#" id="add2">Προσθήκη &gt;&gt;</a></div>
            <div id="remove2pl"><a href="#" id="remove2">&lt;&lt; Αφαίρεση</a></div>
            <br /><br /><br />
            <input class="button" type="submit" name="websites" value="Ανανέωση" />
        </form>
    </div>

    <div class="entry" id="api_key">
        <h3>API Key</h3>
        <p>Στην παρακάτω φορμά μπορείτε να δημιουργήσετε ή να ανανεώσετε το API key σας</p>
        {% if api_key %}
            <p>Η τιμή από το τρέχον API key σας είναι: {{ api_key }}</p>
            <p>Η σελίδα των πληροφοριών σας είναι <a href="/api/user/?format=json&username={{request.user.username}}&api_key={{api_key}}">εδώ</a></p>
        {% endif %}
        <form action="." method="POST" id="api_key">{% csrf_token %}
            <input class="button" type="submit" name="api_key" value=
            {% if api_key %}
                "Ανανέωση"
            {% else %}
                "Δημιουργία"
            {% endif %}
            />
        </form>
    </div>
{% endblock %}
