{% extends "base.html" %}

{% block title %}
    Λίστα Καθηγητών | 
{% endblock %}

{% block content %}
    <div class="entry">
        <h3>Λίστα Καθηγητών</h3>
        <ul>
        {% for teacher in teachers %}
            <li><strong><a href="{{ teacher.url }}">{{ teacher.name }}</a></strong> (<a href="/teachers/{{ teacher.urlid }}">Τελευταίες ανακοινώσεις</a>)
            <ul>
            {% if teacher.email %}
                <li><i>Email:</i> <a href="mailto:{{ teacher.email }}">{{ teacher.email }}</a>
            {% endif %}
            {% if teacher.department %}
                <li><i>Τμήμα / Υπηρεσία:</i> {{ teacher.department }}</li>
            {% endif %}
            </ul>
            </li>
        {% endfor %}
        </ul>
{% endblock %}
