{% extends "base.html" %}

{% block title %}
    Λίστα Καθηγητών | 
{% endblock %}

{% block content %}
    <div class="entry">
        <h3>Λίστα Καθηγητών</h3>
        <ul>
        {% for teacher in teachers %}
            <li>
                <b>{{ teacher.name }}</b> (<a href="/teachers/{{ teacher.url }}">Τελευταίες ανακοινώσεις</a>)<br />
                {% if teacher.email %}
                    &nbsp;&nbsp;&nbsp;&nbsp;<i>Email:</i> <a href="mailto:{{ teacher.email }}">{{ teacher.email }}</a><br />
                {% endif %}
                {% if teacher.department %}
                    &nbsp;&nbsp;&nbsp;&nbsp;<i>Τμήμα / Υπηρεσία:</i> {{ teacher.department }}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
{% endblock %}
