{% extends "base.html" %}

{% block title %}
    Σχετικά | 
{% endblock %}

{% block content %}
    <div class="entry">
        <h3>Περιγραφή</h3>
        <p>Η παρούσα ιστοσελίδα δημιουργήθηκε από φοιτητές για φοιτητές 
        (του ΤΕΙ Λάρισας πάντα). Καθώς όλοι γνωρίζουμε, μέσα από διάφορα
        sites και υπηρεσίες, η πληροφορία διασκορπίζεται και χάνεται.
        Από την αρχή της φοίτησής μας μας φαινόταν εξαιρετικά δύσκολο να
        παρακολουθήσουμε τις ανακοινώσεις, και το χειρότερο, να μην
        μπορούμε όταν κάποια ιστοσελίδα ήταν πεσμένη (και ιδιαίτερα σε
        περίοδο εξεταστικής).</p>
        <p>Η υπηρεσία Cronos δημιουργήθηκε για να καλύψει αυτό
        το κενό ανάμεσα από τα sites του ΤΕΙ Λάρισας. Ο σκοπός της
        παρούσας υπηρεσίας είναι να προσφέρει όλες τις ανακοινώσεις όλων
        των σχολών/τμημάτων/καθηγητών/ιστοσελίδων, καθώς και βαθμολογίες,
        δηλώσεις, λίστα καθηγητών, αναζήτηση βιβλιοθήκης και άλλες
        πληροφορίες, προσωπικές και μη, που βρίσκονται διασκορπισμένες.
        Ένα ακόμα πολύ σημαντικό στοιχείο είναι ότι παρέχεται ενιαίο RSS
        Feed όλων αυτών των ανακοινώσεων.</p>
        <p>Παρατίθεται η λίστα με τις ιστοσελίδες των οποίων οι ανακοινώσεις
        συλλέγονται στην υπηρεσία Cronos:</p>
        <ul>
            <li><a href="http://dionysos.teilar.gr">Πρόγραμμα Γραμματείας (Διόνυσος)</a></li>
            <li><a href="http://e-class.teilar.gr">Πλατφόρμα Ασύγχρονης Τηλεκπαίδευσης E-class</a> (Ανακοινώσεις όλων των μαθημάτων)</li>
            <li><a href="http://www.teilar.gr">Κεντρική Σελίδα ΤΕΙ Λάρισας</a> (Γενικές / Όλων των τμημάτων και καθηγητών)</li>
            <li><a href="http://www.pr.teilar.gr">Γραφείο Δημοσίων & Διεθνών Σχέσεων</a></li>
            <li><a href="http://www.career.teilar.gr">Γραφείο Διασύνδεσης</a></li>
            <li><a href="http://library.teilar.gr">Κεντρική Βιβλιοθήκη</a></li>
            <li><a href="http://noc.teilar.gr">Κέντρο Διαχείρισης Δικτύου</a></li>
            <li><a href="http://linuxteam.teilar.gr">Linux Team</a></li>
        </ul>
        <p>Κατά την εγγραφή σας. ως προεπιλογή παρακολουθείτε ανακοινώσεις
        της σχολής σας και των μαθημάτων του e-class που είστε εγγεγραμμένοι.
        Για τροποποιήσεις μπορείτε να επισκευτείτε τις <a href="/settings">ρυθμίσεις</a>
        του προφίλ σας.</p>
    </div>

    <div class="entry">
        <h3>Τεχνικά Χαρακτηριστικά</h3>
        <p>Η υπηρεσία Cronos αναπτύχθηκε στη γλώσσα προγραμματισμού <a href="http://www.python.org">Python</a>,
        με τη χρήση του <a href="http://www.django.org">Django</a> Web Framework.
        Η ανάπτυξη πραγματοποιήθηκε αρχικά στο σύστημα διαχείρισης κώδικα 
        <a href="http://subversion.tigris.org">Subversion</a>, και στη συνέχεια
        μεταφέρθηκε σε <a href="http://git-scm.org">git</a>. Ο κώδικας αυτή τη
        στιγμή είναι διαθέσιμος στο <a href="https://github.com/LinuxTeam-teilar/cronos.teilar.gr">Github</a>,
        κάτω από το λογαριασμό του <a href="http://linuxteam.teilar.gr">LinuxTeam</a>.</p>
        <p>Πιο αναλυτικά, ο φοιτητής εισέρχεται στην υπηρεσία χρησιμοποιώντας τον
        λογαριασμό που έχει στην ιστοσελίδα της Γραμματείας (<a href="http://dionysos.teilar.gr">http://dionysos.teilar.gr</a>),
        ο οποίος και αποθηκεύεται κρυπτογραφημένα στη βάση δεδομένων, μαζί με
        άλλα στοιχεία που τραβάει το σύστημα από τις παραπάνω υπηρεσίες (δήλωση, βαθμολογίες).
        Αυτόματα ο φοιτητής μπορεί να δει τις προσωπικές του πληροφορίες και να
        παρακολουθήσει τις τελευταίες ανακοινώσεις της σχολής του. Στη σελίδα
        ρυθμίσεων του προφίλ του ο φοιτητής μπορεί να εισάγει το λογαριασμό του e-class,
        ώστε να βλέπει στην ίδια ιστοσελίδα και τις ανακοινώσεις των μαθημάτων που
        παρακολουθεί, καθώς και να επιλέξει και άλλες ιστοσελίδες που θέλει να παρακολουθεί
        τις ανακοινώσεις τους. Όλα τα παραπάνω βρίσκονται ενοποιημένα σε μία κοινή
        ιστοσελίδα.</p>
    </div>

    <div class="entry" id="development">
        <h3>Ανάπτυξη</h3>
        <p>Στο <a href="https://github.com/LinuxTeam-teilar/cronos.teilar.gr/wiki/TODO">wiki</a>
        υπάρχει μία λίστα με ιδέες, οι οποίες μπορούν να υλοποιηθούν και ως μέρος πτυχιακής
        εργασίας. Είμαστε διατεθιμένοι να βοηθήσουμε πλήρως σε περίπτωση που θέλετε να
        ασχοληθείτε με την ανάπτυξη της παρούσας ιστοσελίδας, και υπάρχουν μάλιστα πολλές
        ιδέες που μπορούν να υλοποιηθούν.</p>
    </div>

    <div class="entry" id="contact">
        <h3>Επικοινωνία</h3>
        <p>Για προβλήματα / παρατηρήσεις / σφάλματα / patches, μπορείτε να επικοινωνήσετε
        μαζί μας με τους παρακάτω τρόπους:</p>
        <ul>
            <li>Email: <a href="mailto:cronos@teilar.gr">cronos@teilar.gr</a></li>
            <li>Forum: <a href="http://forum.teilar.net/viewforum.php?f=173&sid=679d97abff962d6759d33817cd1203fd">cronos subforum στο forum.teilar.net</a></li>
            <li>IRC: <a href="irc://irc.freenode.net">#linuxteam-el στο Freenode</a></li>
            <li><a href="http://groups.google.com/group/cronos-teilar">Mailing List</a></li>
            <li><a href="https://www.facebook.com/cronos.teilar.gr">Facebook page</a></li>
            <li><a href="http://linuxteam.teilar.gr/blog/1464">cronos blog</a>, <a href="http://linuxteam.teilar.gr/blog/1464/feed">RSS feed</a></li>
            <li><a href="https://github.com/LinuxTeam-teilar/cronos.teilar.gr">Github project</a></li>
            <li><a href="https://github.com/LinuxTeam-teilar/cronos.teilar.gr/issues">Αναφορά προβλημάτων</a></li>
            <li><a href="https://github.com/LinuxTeam-teilar/cronos.teilar.gr/wiki">Wiki</a></li>
        </ul>
    </div>

    <div class="entry">
        <h3>Συντελεστές</h3>
        <p>Η ιστοσελίδα Cronos ξεκίνησε ως πτυχιακή εργασία των φοιτητών Σπανού Ιωάννη
        και Χατζημίχου Θεόδωρου, υπό την επιτήρηση του καθηγητή Σωμαρά Χρήστου. Αυτή τη
        στιγμή συντηρείται από την ομάδα του <a href="http://linuxteam.teilar.gr">LinuxTeam</a>
        του ΤΕΙ Λάρισας, η οποία διαχειρίζεται πλήρως και τον server πάνω στον οποίο βρίσκεται
        η συγκεκριμένη υπηρεσία.</p>
        <p>Πάνω στην υπηρεσία Cronos στηρίχτηκαν 3 ακόμα πτυχιακές εργασίες:</p>
        <ul>
            <li><a href="http://diogenis.teilar.gr">Διογένης</a> (Ηλεκτρονική εγγραφή εργαστηρίων στο ΤΕΙ Λάρισας, Τσιώκος Γιώργος / Χρούσης Στέφανος)</li>
            <li><a href="http://cronos.teilar.gr/refrigerators">Βιομηχανικά ψυγεία</a> (Για τους φοιτητές της μηχανολογίας, extension στην υπηρεσία Cronos, Σπανός Ηλίας / Παναγιώτου Βαγγέλης)</li>
            <li>Διαγόρας (Πρόγραμμα σπουδών, Τσιολής Δημήτρης)</li>
        </ul>
        <p>Άλλοι συντελεστές είναι οι παρακάτω:</p>
        <ul>
            <li>Τσιώκος Γιώργος (πολύτιμη βοήθεια στο design)</li>
            <li>Κούτσικος Γιώργος (artwork)</li>
            <li>Χρούσης Στέφανος</li>
            <li>Παπαπούλιος Δημήτρης</li>
            <li>Νάτσιος Αλέξανδρος-Παναγιώτης</li>
        </ul>
    </div>
{% endblock %}
