{% extends "base.html" %}

{% block title %}
    Σχετικά | 
{% endblock %}

{% block content %}
    <div class="entry">
        <h3>Περιγραφή</h3>
        <p>Η παρούσα ιστοσελίδα δημιουργήθηκε από φοιτητές για φοιτητές 
        (του ΤΕΙ Λάρισας πάντα). Καθώς όλοι γνωρίζουμε, μέσα από διάφορα
        sites και υπηρεσίες, η πληροφορία διασκορπίζεται και χάνεται. 
        Από την αρχή της φοίτησής μας μας φαινόταν εξαιρετικά δύσκολο να 
        παρακολουθήσουμε τις ανακοινώσεις, και το χειρότερο, να μην 
        μπορούμε όταν κάποια ιστοσελίδα ήταν πεσμένη (και ιδιαίτερα σε 
        περίοδο εξεταστικής). Ο Cronos δημιουργήθηκε για να καλύψει αυτό 
        το κενό ανάμεσα από τα sites του ΤΕΙ Λάρισας. Η κύρια προσφορά 
        του είναι μια σελίδα με ανακοινώσεις από τις παρακάτω 
        ιστοσελίδες/υπηρεσίες/πρόσωπα:</p>
        <ul>
            <li><a href="http://dionysos.teilar.gr">Πρόγραμμα Γραμματείας (Διόνυσος)</a></li>
            <li><a href="http://e-class.teilar.gr">Πλατφόρμα Ασύγχρονης Τηλεκπαίδευσης E-class</a> (Ανακοινώσεις όλων των μαθημάτων)</li>
            <li><a href="http://www.teilar.gr">Κεντρική Σελίδα ΤΕΙ Λάρισας</a> (Γενικές / Όλων των τμημάτων και καθηγητών)</li>
            <li><a href="http://www.pr.teilar.gr">Γραφείο Δημοσίων & Διεθνών Σχέσεων</a></li>
            <li><a href="http://www.career.teilar.gr">Γραφείο Διασύνδεσης</a></li>
            <li><a href="http://library.teilar.gr">Κεντρική Βιβλιοθήκη</a></li>
            <li><a href="http://noc.teilar.gr">Κέντρο Διαχείρισης Δικτύου</a></li>
            <li><a href="http://linuxteam.cs.teilar.gr">Linux Team</a></li>
        </ul>
        <p>Κατά την εγγραφή σας. ως προεπιλογή παρακολουθείτε ανακοινώσεις
        της σχολής σας και των μαθημάτων του e-class που είστε εγγεγραμμένοι.
        Για αλλαγή μπορείτε να επισκευτείτε τις <a href="/settings">ρυθμίσεις</a></p>
        <p>Επίσης, στην παρούσα ιστοσελίδα θα μπορέσετε να βρείτε ενιαίο 
        RSS Feed των παραπάνω ανακοινώσεων, καθώς και διάφορες άλλες 
        πληροφορίες (προσωπικές και μη) από διάσπαρτες υπηρεσίες (βιβλιοθήκη,
        καθηγητές, δήλωση, βαθμολογία, μαθήματα e-class κτλ)</p>
    </div>

    <div class="entry">
        <h3>Τεχνικά Χαρακτηριστικά</h3>
        <p>Ο Cronos αναπτύχθηκε στη γλώσσα προγραμματισμού <a href="http://www.python.org">Python</a>,
        με τη χρήση του <a href="http://www.django.org">Django</a> Web Framework.
        Η ανάπτυξη πραγματοποιήθηκε αρχικά στο σύστημα διαχείρισης κώδικα 
        <a href="http://subversion.tigris.org">Subversion</a>, και στη συνέχεια
        μεταφέρθηκε σε <a href="http://git-scm.org">git</a>. Ο κώδικας αυτή τη
        στιγμή είναι διαθέσιμος στο <a href="http://linuxteam.teilar.gr/gitweb/cronos">gitolite/gitweb</a>
        του LinuxTeam. Είμαστε διατεθειμένοι να βοηθήσουμε όποιον επιθυμεί να συμβάλει
        στην ανάπτυξη της ιστοσελίδας, είτε ως μέρος άλλης πτυχιακής είτε όχι.</p>
        <p>Πιο αναλυτικά, κατά την εγγραφή ο φοιτητής δηλώνει τα στοιχεία του
        από τις υπηρεσίες Γραμματείας (<a href="http://dionysos.teilar.gr">http://dionysos.teilar.gr</a>)
        E-class (<a href="http://openclass.teilar.gr">http://openclass.teilar.gr</a>)
        και Webmail (<a href="http://myweb.teilar.gr">http://myweb.teilar.gr</a>)
        τα οποία και αποθηκεύονται κρυπτογραφημένα στη βάση δεδομένων, μαζί με
        άλλα στοιχεία που τραβάει το σύστημα από τις παραπάνω υπηρεσίες. Ως
        αποτέλεσμα, ο φοιτητής έχει τις ανακοινώσεις που έχει επιλέξει, καθώς
        και προσωπικά στοιχεία (βαθμολογίες / email κτλ) ενοποιημένα σε μια κοινή
        ιστοσελίδα.</p>
    </div>

    <div class="entry" id="contact">
        <h3>Επικοινωνία</h3>
        <p>Για προβλήματα / παρατηρήσεις / σφάλματα / patches, μπορείτε να επικοινωνήσετε
        μαζί μας με τους παρακάτω τρόπους:</p>
        <ul>
            <li>Email: <a href="mailto:cronos@teilar.gr">cronos.teilar.gr</a></li>
            <li>Mailing List: cronos-teilar@googlegroups.com</li>
            <li>Forum: <a href="http://forum.teilar.net/viewforum.php?f=173&sid=679d97abff962d6759d33817cd1203fd">
            Cronos subforum στο forum.teilar.net</a></li>
            <li>IRC: #linuxteam-el στο Freenode</li>
        </ul>
        <p>Για εγγραφή στη mailing list επισκευτείτε τη διεύθυνση
        <a href="http://groups.google.gr/group/cronos-teilar">http://groups.google.gr/cronos-teilar</a>
        ή στείλτε κενό email στο <a href="mailto:cronos-teilar-subscribe@googlegroups.com">
        cronos-teilar-subscribe@googlegroups.com</a>. Απαιτείται λογαριασμός στο Google</p>
    </div>

    <div class="entry">
        <h3>Συντελεστές</h3>
        <p>Η ιστοσελίδα Cronos ξεκίνησε ως πτυχιακή εργασία των φοιτητών Σπανού Ιωάννη
        και Χατζημίχου Θεόδωρου, υπό την επιτήρηση του καθηγητή Σωμαρά Χρήστου.
        Άλλοι συντελεστές είναι οι παρακάτω:</p>
        <ul>
            <li>Τσιώκος Γιώργος (πολύτιμη βοήθεια στο design)</li>
            <li>Κούτσικος Γιώργος (artwork)</li>
            <li>Χρούσης Στέφανος</li>
            <li>Παπαπούλιος Δημήτρης</li>
            <li>Νάτσιος Αλέξανδρος-Παναγιώτης</li>
        </ul>
    </div>
{% endblock %}
