{% extends "base.html" %}

{% block title %}
	Σχετικά | 
{% endblock %}

{% block content %}
	<div class="entry">
		<h3>Περιγραφή</h3>
		<p>Η παρούσα ιστοσελίδα δημιουργήθηκε από φοιτητές για φοιτητές (του ΤΕΙ Λάρισας πάντα). Καθώς όλοι γνωρίζουμε, μέσα από διάφορα sites και υπηρεσίες, η πληροφορία διασκορπίζεται και χάνεται. Από την αρχή της φοίτησής μας μας φαινόταν εξαιρετικά δύσκολο να παρακολουθήσουμε τις ανακοινώσεις, και το χειρότερο, να μην μπορούμε όταν κάποια ιστοσελίδα ήταν πεσμένη (και ιδιαίτερα σε περίοδο εξεταστικής). Ο Cronos δημιουργήθηκε για να καλύψει αυτό το κενό ανάμεσα από τα sites του ΤΕΙ Λάρισας. Η κύρια προσφορά του είναι μια σελίδα με ανακοινώσεις από τις παρακάτω ιστοσελίδες/υπηρεσίες/πρόσωπα:</p>
		<ul>
			<li><a href="http://dionysos.teilar.gr">Πρόγραμμα Γραμματείας (Διόνυσος)</a></li>
			<li><a href="http://e-class.teilar.gr">Πλατφόρμα Ασύγχρονης Τηλεκπαίδευσης E-class</a> (Ανακοινώσεις όλων των μαθημάτων)</li>
			<li><a href="http://www.teilar.gr">Κεντρική Σελίδα ΤΕΙ Λάρισας</a> (Γενικές / Όλων των τμημάτων και καθηγητών)</li>
			<li><a href="http://www.pr.teilar.gr">Γραφείο Δημοσίων & Διεθνών Σχέσεων</a></li>
			<li><a href="http://www.career.teilar.gr">Γραφείο Διασύνδεσης</a></li>
			<li><a href="http://library.teilar.gr">Κεντρική Βιβλιοθήκη</a></li>
			<li><a href="http://noc.teilar.gr">Κέντρο Διαχείρισης Δικτύου</a></li>
			<li><a href="http://linuxteam.cs.teilar.gr">Linux Team</a></li>
		</ul>
		<p>Κατά την εγγραφή σας. ως προεπιλογή παρακολουθείτε ανακοινώσεις της σχολής σας και των μαθημάτων του e-class που είστε εγγεγραμμένοι. Για αλλαγή μπορείτε να επισκευτείτε τις <a href="/settings">ρυθμίσεις</a></p>
		<p>Επίσης, στην παρούσα ιστοσελίδα θα μπορέσετε να βρείτε RSS Feed των παραπάνω ανακοινώσεων, καθώς και διάφορες άλλες πληροφορίες (προσωπικές και μη) από διάσπαρτες υπηρεσίες (βιβλιοθήκη, καθηγητές, δήλωση, βαθμολογία, μαθήματα e-class κτλ)</p>
	</div>

	<div class="entry">
		<h3>Τεχνικά Χαρακτηριστικά</h3>
		<p>Ο Cronos είναι γραμμένος στη γλώσσα προγραμματισμού <a href="http://www.python.org">Python</a>, με τη χρήση του <a href="http://www.django.org">Django</a> Web Framework. Η ανάπτυξη πραγματοποιήθηκε στο σύστημα διαχείρισης κώδικα <a href="http://subversion.tigris.org">Subversion</a>. Ο κώδικας αυτή τη στιγμή είναι διαθέσιμος στο <a href="http://cronos.teilar.gr/websvn">WebSVN</a> μας. Θα είμασταν ιδιαίτερα ευγνώμωνες αν επιθυμούσατε να αποστείλετε το οποιοδήποτε πρόβλημα πάνω στον κώδικα (και όχι μόνο), στο email μας <a href="webmaster@cronos.teilar.gr">webmaster@cronos.teilar.gr</a>. Επίσης, είμαστε διατεθειμένοι να βοηθήσουμε όποιον επιθυμεί να βοηθήσει στην ανάπτυξη της ιστοσελίδας, είτε ως μέρος άλλης πτυχιακής είτε όχι.</p>
	</div>

	<div class="entry">
		<h3>Συντελεστές</h3>
		<p>Η ιστοσελίδα Cronos ξεκίνησε ως πτυχιακή εργασία των φοιτητών Σπανού Ιωάννη και Χατζημίχου Θεόδωρου, υπό την επιτήρηση του καθηγητή Σωμαρά Χρήστου. Άλλοι συντελεστές είναι οι παρακάτω:</p>
		<ul>
			<li>Τσιώκος Γιώργος (πολύτιμη βοήθεια στο design)</li>
			<li>Κούτσικος Γιώργος (artwork)</li>
		</ul>
	</div>
{% endblock %}
