{% extends 'base.html' %}

{% block content %}
{% if content %}
<table>
{% for i in content %}
	<tr><td>{{i|safe}}</td></tr>
{% endfor %}
</table>
{% else %}
<table style="width:80%; align:center;">
{% for i in items %}
	{% for j in i %}
		{% ifequal forloop.counter0 0 %}
			<tr>
				<td><img src="/{{MEDIA_URL}}/images/{{j|safe}}.png" style="width:50px;height:50px" title="department"></td>
				<td>
					<table style="border-top: 2px solid #666; width:100%">
		{% endifequal %}
		{% ifequal forloop.counter0 1 %}
						<tr><td align="left"><font size="-2" color="grey">{{j|safe}}</font></td>
		{% endifequal %}
		{% ifequal forloop.counter0 2 %}
						<td align="right"><font size="-2" color="grey">{{j|safe}}</font></td></tr>
		{% endifequal %}
		{% ifequal forloop.counter0 3 %}
						<tr><td><a href="/announcements/?announceid={{j|safe}}">
		{% else %}
			{% ifequal forloop.counter0 4 %}
						{{j|safe}}</a></td></tr>
					</table>
				</td>
			</tr>
			{% endifequal %}
		{% endifequal %}
	{% endfor %}
{% endfor %}
</table>
{% endif %}

<form action="/announcements/" method="get">
<input type="hidden" name="announceid">
</form>
{% endblock %}
