{% extends 'base.html' %}

{% block title %}
	Ανακοινώσεις | 
{% endblock %}

{% block more %}
	<link rel="alternate" type="application/rss+xml" title="Ανακοινώσεις RSS" href="/feeds/announcements/{{user}}" />
{% endblock %}

{% block content %}
	{% if id %}
		<table>
			{% for i in items %}
				<tr><td>{{i|safe}}</td></tr>
			{% endfor %}
		</table>
	{% else %}
		{% for i in items %}
			<div class="entry">
				{% for j in i %}
						{% ifequal forloop.counter0 0 %}
							<h3>{{j|safe}}</h3>
						{% endifequal %}
						{% ifequal forloop.counter0 1 %}
							<table><tr><td style="vertical-align:middle;">
								<img src="{{ MEDIA_URL }}images/{{j}}.png" /></td>
						{% endifequal %}
						{% ifequal forloop.counter0 2 %}
							<td style="vertical-align:middle;padding-left:30px;"><a href="/announcements/?announce_id={{j|safe}}">
						{% endifequal %}
						{% ifequal forloop.counter0 3 %}
							{{j|safe}}</a><br />
						{% endifequal %}
						{% ifequal forloop.counter0 4 %}
							<font size="-2" color="grey">Υποβολή: {{j}}</td></tr></table>
						{% endifequal %}
				{% endfor %}
			</div>
		{% endfor %}
	{% endif %}

<form action="/announcements/" method="get">
<input type="hidden" name="announceid">
</form>
{% endblock %}
