<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>{{ head_title }}Cronos</title>
		<link rel="stylesheet" href="/other/reset.css">
		<link rel="stylesheet" href="/other/style.css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript">
		</script>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1>CRONOS</h1>
				<div id="sidebar">
					<ul id="menu">
						<a href="/">Αρχική</a>
						<a href="/announcements/">Ανακοινώσεις</a>
						<a href="/eclass/">E-class</a>
						<a href="/webmail/">E-mail</a>
						<a href="/library/">Αναζήτηση Βιβλιοθήκης</a>
						<a href="/dionysos/">Η δήλωση μου</a>
					</ul>
				</div>
			</div>
			<div id="main">
				<div id="profile">
					{% block profile %}<a href="/logout/">Αποσύνδεση</a>{% endblock %}
				</div>
				<div id="content">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
