<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>{% block title %}{% endblock %}Cronos</title>
		<link rel="icon" href="{{MEDIA_URL}}images/logo.png" type="image/x-icon">
		<link rel="stylesheet" href="{{MEDIA_URL}}reset.css">
		<link rel="stylesheet" href="{{MEDIA_URL}}style.css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript">
		</script>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1>CRONOS</h1>
				<div id="sidebar">
					<ul id="menu">
						<a href="/">Αρχική</a>
						<a href="/announcements/">Ανακοινώσεις</a>
						{% if user.is_authenticated %}
						{% if user.get_profile.eclass_username %}
						<a href="/eclass/">E-class</a>
						{% endif %}
						{% if user.get_profile.webmail_username %}
						<a href="/webmail/">E-mail</a>
						{% endif %}
						<a href="/dionysos/">Η δήλωση μου</a>
						{% endif %}
						<a href="/library/">Αναζήτηση Βιβλιοθήκης</a>
						{% if user.is_authenticated %}
						<a href="/settings/">Προφίλ</a>
						{% if user.is_superuser %}
						<a href="/admin">Διαχείριση Django</a>
						<a href="http://cephalon.teilar.gr/phpldapadmin">Διαχείριση LDAP</a>
						<a href="http://cephalon.teilar.gr/phpmyadmin">Διαχείριση MySQL</a>
						
						{% endif %}
						{% endif %}
					</ul>
				</div>
			</div>
			<div id="main">
				{% if user.is_authenticated %}
				<div id="profile">
					<b>Ονοματεπώνυμο:</b> {{user.first_name}} {{user.last_name}}
					<b>Εξάμηνο:</b> {{user.get_profile.semester}}
					<b>Έτος Εισαγωγής:</b> {{user.get_profile.introduction_year}}
					<b>Αριθμός Μητρώου:</b> {{user.get_profile.registration_number}}
					<a href="/logout/">Αποσύνδεση</a>
				</div>
				{% endif %}
				<div id="content">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
