{% extends "base.html" %}

{% block title %}
Δήλωση | 
{% endblock %}

{% block content %}
<div class="entry">
	<h2>Η Δήλωση μου</h2>
	<table>
	<th>Κωδικός</th>
	<th>Τίτλος</th>
	<th>Εξάμηνο</th>
	<th>Τύπος</th>
	<th>ΔΜ</th>
	<th>Ώρες</th>
	{% for i in declaration_lessons %}
		<tr>
		{% for j in i %}
			<td>__{{j|safe}}__</td>
		{% endfor %}
		</tr>
	{% endfor %}
	</table>
	{% for i in summary %}
		{% cycle 'Σύνολο Μαθημάτων: ' 'Σύνολο Διδακτικών Μονάδων: ' 'Σύνολο ωρών: ' %}{{i}}
	{% endfor %}
	<form action="." method="post">
		{{ field.label.tag }}{{ field }}
		Σε περίπτωση που έχετε ανανεώσει τη δήλωσή σας στη Γραμματεία:<input type="submit" value="Ανανέωση" />
		{% if msg %}
			<br />{{msg}}
		{% endif %}
	</form>
</div>
{% endblock %}
