{% extends "base.html" %}

{% block title %}
	Δήλωση | 
{% endblock %}

{% block content %}
	<div class="entry">
	<h2>Δήλωση μαθημάτων</h2>
	{% if msg %}
		{{ msg }}
	{% else %}
		<table>
			<th style="text-align:left; width: 120px;">Κωδικός</th>
			<th style="width: 280px;">Τίτλος</th>
			<th style="width: 80px;">Εξάμηνο</th>
			<th style="width: 80px;">Τύπος</th>
			<th style="width: 80px;">ΔΜ</th>
			<th style="width: 80px;">Ώρες</th>
			{% for i in declaration_lessons %}
				<tr>
				{% for j in i %}
					<td
					{% ifequal forloop.counter0 2 %} style="text-align: center;" {% endifequal %}
					{% ifequal forloop.counter0 3 %} style="text-align: center;" {% endifequal %}
					{% ifequal forloop.counter0 4 %} style="text-align: center;" {% endifequal %}
					{% ifequal forloop.counter0 5 %} style="text-align: center;" {% endifequal %}

					>{{j|safe}}</td>
				{% endfor %}
				</tr>
			{% endfor %}
			<tr style="height: 30px;"><td></td></tr>
			{% for i in summary %}
				<tr><td colspan="5" align="right"><i>{% cycle 'Σύνολο Μαθημάτων: ' 'Σύνολο Διδακτικών Μονάδων: ' 'Σύνολο ωρών: ' %}</i></td><td align="right">{{i}}</td></tr>
			{% endfor %}
		</table>
	{% endif %}
	</div>
	<div id="notifications">
		<p>Σε περίπτωση που έχετε κάνει αλλαγές στη δήλωσή σας σας από την ιστοσελίδα της <a href="http://dionysos.teilar.gr">Γραμματείας (dionysos)</a>, επισκευτείτε τις <a href="/settings">ρυθμίσεις</a> για να την ανανεώσετε και στην παρούσα</p>
	</div>
{% endblock %}
