{% extends "base.html" %}

{% block title %}
	Στοιχεία Γραμματείας | 
{% endblock %}

{% block content %}
	<div id="notifications">
		<p>Σε περίπτωση που έχουν γίνει αλλαγές στη δήλωση ή τη βαθμολογία σας σας από την ιστοσελίδα της <a href="http://dionysos.teilar.gr">Γραμματείας (dionysos)</a>, επισκευτείτε τις <a href="/settings/#other">ρυθμίσεις</a> για να τις ανανεώσετε και στην παρούσα</p>
	</div>

	<div class="entry" id="declaration">
	<h3>Δήλωση μαθημάτων</h3>
	{% if msg %}
		{{ msg }}
	{% else %}
		<table>
			<th style="width: 120px;">Κωδικός</th>
			<th style="width: 280px;">Τίτλος</th>
			<th style="width: 80px;">Εξάμηνο</th>
			<th style="width: 80px;">Τύπος</th>
			<th style="width: 80px;">ΔΜ</th>
			<th style="width: 80px;">Ώρες</th>
			{% for i in declaration_lessons %}
				<tr>
				{% for j in i %}
					<td
					{% ifequal forloop.counter0 2 %} style="text-align: center;" {% endifequal %}
					{% ifequal forloop.counter0 3 %} style="text-align: center;" {% endifequal %}
					{% ifequal forloop.counter0 4 %} style="text-align: center;" {% endifequal %}
					{% ifequal forloop.counter0 5 %} style="text-align: center;" {% endifequal %}
					>{{j|safe}}</td>
				{% endfor %}
				</tr>
			{% endfor %}
			<tr style="height: 30px;"><td></td></tr>
			{% for i in summary %}
				<tr><td colspan="5" align="right"><i>{% cycle 'Σύνολο Μαθημάτων: ' 'Σύνολο Διδακτικών Μονάδων: ' 'Σύνολο ωρών: ' %}</i></td><td align="right">{{i}}</td></tr>
			{% endfor %}
		</table>
	{% endif %}
	</div>

	<div class="entry" id="grades">
		<h3>Βαθμολογία</h3>
		{% if not user.get_profile.grades %}
			Το μηχάνημα που φιλοξενεί την παρούσα ιστοσελίδα δεν την παλεύει κάστανο, κι επειδή ο αλγόριθμος που τραβάει τις ανακοινώσεις έτυχε να είναι τζιτιπικέι (ε, εντάξει, έγραψα κι εγώ λίγο άσχημο κώδικα, το παραδέχομαι), το σύστημα δεν τραβάει την βαθμολογία από την αρχή, οπότε πρέπει να πάτε ρυθμίσεις και να πατήσετε ανανέωση στην κατάλληλη φόρμα. ΠΡΟΣΟΧΗ: Είπαμε ο αλγόριθμος είναι μάπα, οπότε το όλο σκηνικό παίζει να πάρει κανά τρίλεπτο-πεντάλεπτο αν έχει κέφια το σαράβαλο (αν δεν έχει τοτε υπάρχει και μια μεγάλη πιθανότητα να μου το κρασάρετε, αλλά μη μασάτε)
		{% else %}
			Εαν ανανεώσατε τη βαθμολογία σας, κάντε λίγο ακόμα υπομονή, γιατί δεν έχω τελειώσει με τον κώδικα που την εμφανίζει σε ένα ωραίο table όπως αυτό της δήλωσης
		{% endif %}
	</div>
{% endblock %}
