{% extends "base.html" %}

{% block title %}
Eclass | 
{% endblock %}
{% block content %}
	{% for item in headers %}
		<div class="entry">
		<h3>{{item|safe}}</h3>
		<ul>
		{%ifequal forloop.counter0 0 %}
			{% if eclass_lessons %}
				{% for i in eclass_lessons %}
				<li>
					{% for j in i %}
						{{j|safe}}{% cycle ':' '' %}
					{% endfor %}
				</li>
				{% endfor %}
			{% else %}
				<li>Δεν υπάρχουν μαθήματα προς εμφάνιση.</li>
			{% endif %}
		{% endifequal %}
		{% ifequal forloop.counter0 1 %}
			{% if deadlines %}
				{% for i in deadlines %}
				<li>
					{% for j in i %}
						{% cycle '<b>' '</b><br />&nbsp;&nbsp;&nbsp;&nbsp;<i>Τίτλος:</i> ' '<br />&nbsp;&nbsp;&nbsp;&nbsp;<i>Προθεσμία Υποβολής:</i> ' '<br />&nbsp;&nbsp;&nbsp;&nbsp;<i>Κατάσταση:</i> ' %}{{j|safe}}
					{% endfor %}
				</li>
				{% endfor %}
			{% else %}
				<li>Δεν υπάρχουν εργασίες προς παράδοση.</li>
			{% endif %}
		{% endifequal %}
		{% ifequal forloop.counter0 2 %}
			{% if documents %}
				{% for i in documents %}
				<li>
					{% for j in i %}
						{% cycle '<b>' '</b><br />&nbsp;&nbsp;&nbsp;&nbsp;<i>Όνομα Αρχείου:</i> ' '<br />&nbsp;&nbsp;&nbsp;&nbsp;<i>Ημερομηνία:</i> ' %}{{j|safe}}
					{% endfor %}
				</li>
				{% endfor %}
			{% else %}
				<li>Δεν υπάρχουν έγγραφα προς εμφάνιση.</li>
			{% endif %}
		{% endifequal %}
		</ul>
		</div>
	{% endfor %}
	<div id="notifications">
		<p>Σε περίπτωση που έχετε κάνει αλλαγές στη λίστα μαθημάτων σας από την ιστοσελίδα του <a href="http://e-class.teilar.gr">e-class</a>, επισκευτείτε τις <a href="/settings">ρυθμίσεις</a> για να την ανανεώσετε και στην παρούσα</p>
	</div>
{% endblock %}
