<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>{% block title %}{% endblock %}Cronos</title>
		<link rel="icon" href="{{MEDIA_URL}}images/logo.png" type="image/x-icon">
		<link rel="stylesheet" href="{{MEDIA_URL}}css/reset.css">
		<link rel="stylesheet" href="{{MEDIA_URL}}css/style_intro.css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript">
		</script>
	</head>
	<body>
		<div id="container">
			<h1>CRONOS</h1>
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
