<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>{{ head_title }}Cronos</title>
		<link rel="stylesheet" href="/other/reset.css">
		<link rel="stylesheet" href="/other/style_login.css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript">
		</script>
	</head>
	<body>
		<div id="container">
			<h1>CRONOS</h1>
			<div id="login">
				<div id="info">
					<h3>Εγγραφή</h3>
					<p>Εισάγετε τα στοιχεία σας από το dionysos.teilar.gr</p>
					<h3>Είσοδος</h3>
					<p>Μπορείτε να εισαχθείτε με οποιαδήποτε από τα στοιχεία των παρακάτω υπηρεσιών του ΤΕΙ Λάρισας:</p>
					<ul>
						<li>cronos</li>
						<li>dionysos</li>
						<li>e-class</li>
						<li>webmail</li>
					</ul>
				</div>
				<div id="login-form">
					<form action="." method="POST">
						<label for="username">Username</label>
						<input type="text" name="username" id="username">
						<label for="password">Password</label>
						<input type="password" name="password" id="password">
						<input class="button" type="submit" value="Είσοδος">
						<!--<a href="#">Ξεχάσατε τον κωδικό σας;</a>-->
						{% if msg %}
						<p class="messages">{{ msg }}</p>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
