{% extends "intro.html" %}

{% block title %}
    Είσοδος | 
{% endblock %}

{% block content %}
    <div id="login">
        <div id="info">
            <h3>Σχετικά</h3>
            <p>Η υπηρεσία Cronos αποτελεί μία υπηρεσία ενοποίησης των διαφόρων ιστοσελίδων του ΤΕΙ Λάρισας!<a href="/about">Περισσότερα</a>!</p>
            <h3>Είσοδος</h3>
            <p>Εισάγετε το όνομα χρήστη και κωδικό πρόσβασης που έχετε στο <a href="http://dionysos.teilar.gr">dionysos.teilar.gr</a></p>
            <h3>Αναφορά Σφάλματος</h3>
            <p>Αν αντιμετωπίζετε οποιοδήποτε πρόβλημα με την υπηρεσία, παρακαλούμε <a href="/about/#contact">επικοινωνήστε μαζί μας.</a><br /><a href="/about/">Σχετικά με το Cronos</a>.
        </div>
        <div id="login-form">
            <form action="." method="POST">{% csrf_token %}
                {% for field in form %}
                    {% ifequal forloop.counter0 2 %}
                        <br />
                        {{ field}}
                        <label style="display: inline; margin: 0 0 0 0" for="remember">Nα με θυμάσαι</label>
                        <br />
                    {% else %}
                        {{ field.label_tag }}{{ field }}
                    {% endifequal %}
                {% endfor %}
                <input class="button" type="submit" value="Είσοδος" name="submit" />
                <br />
                {% if msg %}
                    <p class="messages">{{ msg }}</p>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
