<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>{{ head_title }}</title>
		<link rel="stylesheet" href="/other/style_login.css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript">
		</script>
	</head>
	<body>
		<div id="container">
			<h1>CRONOS</h1>
			<div id="login">
				<div id="info">
				<p>Μπορείτε να συνδεθείτε και με το dionyso λογαριασμό σας.</p>
				</div>
				<div id="login-form">
					<form action="." method="POST">
						<label for="username">Username</label>
						<input type="text" name="username" id="username">
						<label for="password">Password</label>
						<input type="text" name="password" id="password">
						<input type="submit" value="Είσοδος">
					</form>
				</div>
			</div>
			<p class="messages">{{ msg }}</p>
		</div>
	</body>
</html>
