<HTML>
<HEAD>
<TITLE>{{head_title}}</TITLE>
</HEAD>
<frameset cols="15%,85%" frameborder=0 framespacing=0 border=0>
  <frameset rows="70,100%" frameborder=0 framespacing=0 border=0>
    <frame noresize="noresize" src="all" name="logo" />
    <frame noresize="noresize" src="sidebar" name="menu" />
  </frameset>
  <frameset rows="30,100%" frameborder=0 framespacing=0 border=0>
    <frame noresize="noresize" src="top" name="top" />
    <frame noresize="noresize" src="main" name="main" />
  </frameset>
</frameset>
</HTML>
