{% extends "base.html" %}

{% block title %}
	Ρυθμίσεις χρήστη {{user}} | 
{% endblock %}

{% block content %}
<h1>Ονόματα χρήστη:</h1>
<ul>
	<li>Cronos: {{ user.username }} (Αλλαγή Κωδικού) </li>
	<li>Dionysos: {{ user.get_profile.dionysos_username }} (Ανανέωση) </li>
	{% if user.get_profile.eclass_username %}
	<li>Eclass: {{ user.get_profile.eclass_username }} (Αλλαγή)</li>
	{% endif %}
	{% if user.get_profile.webmail_username %}
	<li>Webmail: {{ user.get_profile.webmail_username }} (Αλλαγή)</li>
	{% endif %}
</ul>
<br />
<h1>Προσωπικά Στοιχεία</h1>
<ul>
	<li>Ονοματεπώνυμο: {{ user.first_name }} {{ user.last_name }}</li>
	<li>Email: {% ifequal mail 'unset' %} Δεν έχετε ορίσει (Προσθήκη) {% else %} <a href="mailto:{{ mail }}" >{{ mail }}</a> (Αλλαγή){% endifequal %}</li>
	<li>Αριθμός Μητρώου: {{ user.get_profile.registration_number }}</li>
	<li>Τμήμα: {{ school }}</li>
	<li>Εξάμηνο: {{ user.get_profile.semester }}</li>
	<li>Έτος Εισαγωγής: {{ user.get_profile.introduction_year }}</li>
	<li><a href="/declaration">Προβολή Δήλωσης</a></li>
	<li><a href="/eclass">Μαθήματα E-class</a></li>
</ul>

<h1>Ανακοινώσεις</h1>
Ανακοινώσεις Σχολής
eclass:
1
2
3
4
Ανακοινώσεις Καθηγητών
1
2
3
4
<!--form action="." method="POST">
	{% for status in other_status %}
	<input type="checkbox" name="{% cycle 'noc' 'teilar' 'career' 'linuxteam' 'school' 'pr' 'dionysos' 'library' %}" id="id_{% cycle 'noc' 'teilar' 'career' 'linuxteam' 'school' 'pr' 'dionysos' 'library' %}" {% ifequal status 'set' %} checked="yes" {% endifequal %}><label for="id_{% cycle 'noc' 'teilar' 'career'     'linuxteam' 'school' 'pr' 'dionysos' 'library' %}">{% cycle 'Κέντρο Διαχείρισης Δικτύου' 'Κεντρική Σελίδα ΤΕΙ Λάρισας' 'Γραφείο Διασύνδεσης' 'Linux Team' school 'Γραφείο Δημοσίων και Διεθνών Σχέσεων' 'Πρόγραμμα Γραμματείας' 'Κεντρική Βιβλιοθήκη' %}</label><br />
	{% endfor %}
	<input class="button" type="submit" value="Υποβολή">
	{% if msg %}
		{{ msg }}
	{% endif %}
</form-->

<form action="." method="POST">
	{% for i in form_other %}
		{% for j in i %}
				{{j}}
		{% endfor %}
	{% endfor %}
	<input class="button" type="submit" value="Υποβολή">
	{% if msg %}
		{{ msg }}
	{% endif %}
</form>
{% endblock %}
