<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>{{ head_title }}Cronos</title>
		<link rel="stylesheet" href="/{{MEDIA_URL}}reset.css">
		<link rel="stylesheet" href="{{MEDIA_URL}}style_login.css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript">
		</script>
	</head>
	<body>
		<div id="container">
			<h1>CRONOS</h1>
			<div id="login">
				<div id="info">
					<h3>Εγγραφή</h3>
					<p>Συμπληρώστε στη φόρμα δεξιά ένα όνομα χρήστη και κωδικό πρόσβασης για το cronos, και στη συνέχεια συμπληρώστε τα στοιχεία σας από τις υπηρεσίες Διόνυσος, e-class και webmail.</p>
					<h3>Προσοχή</h3>
					<p>Είναι υποχρεωτική η συμπλήρωση των στοιχείων για το cronos και dionysos, ενώ για τα eclass και webmail είναι προαιρετικά. Θα γίνει επαλήθευση όσων στοιχείων συμπληρώσετε</p>
				</div>
				<div id="login-form">
					<form action="." method="post">{% csrf_token %}
						<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
						{{ previous_fields|safe }}
						{% for field in form %}
						{{ field.label_tag }}{{ field }}
						{% endfor %}
						<input class="button" type="submit" value=
						{% ifequal step 4 %}
							"Εγγραφή"
						{% else %}
							"Επόμενο"
						{% endifequal %}
						/>
						{% if msg %}
							<p class="messages">{{ msg }}</p>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
