{% extends "intro.html" %}

{% block title %}
	Εγγραφή | 
{% endblock %}

{% block content %}
	<div id="login">
		<div id="info">
			<h3>Οδηγίες Εγγραφής</h3>
			<p>Συμπληρώστε ένα όνομα χρήστη και κωδικό πρόσβασης για το cronos, αφού πρώτα συμπληρώσετε τα στοιχεία σας από τις παρακάτω υπηρεσίες του ΤΕΙ Λάρισας:</p>
			<ul>
				<li>Πρόγραμμα Γραμματείας (<a href="http://dionysos.teilar.gr">dionysos</a>)</li>
				<li>Πλατφόρμα Ασύγχρονης Εκπαίδευσης (<a href="http://e-class.teilar.gr">e-class</a>)</li>
				<li>Ηλεκτρονική Αλληλογραφία (<a href="http://myweb.teilar.gr">webmail</a>)</p>
			</ul>
			<p>Είναι υποχρεωτική η συμπλήρωση των στοιχείων για τα cronos και dionysos, ενώ για τα eclass και webmail είναι προαιρετικά. Θα γίνει επαλήθευση όσων στοιχείων συμπληρώσετε.</p>
		</div>
		<div id="login-form">
			<form action="." method="post">{% csrf_token %}
				<div style="font-weight:bold; text-align: center; margin-top: 5px; color: #786721;">Βήμα {{ step }} Από {{ step_count }}</div>
				<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
				{{ previous_fields|safe }}
				{% for field in form %}
				{{ field.label_tag }}{{ field }}
				{% endfor %}
				<input class="button" name="step" type="submit" value=
					{% ifequal step 4 %}
					"Εγγραφή"
					{% else %}
					"Επόμενο"
					{% endifequal %}
					/>
				{% if msg %}
				<p class="messages">{{ msg }}</p>
				{% endif %}
			</form>
		</div>
	</div>
{% endblock %}
