{% extends "base.html" %}

{% block title %}
	{{user}} | 
{% endblock %}

{% block content %}
	{% ifequal mail 'unset' %}
	<div id="notifications">
		<p>Δεν έχετε δηλώσει κάποιο email. Αλλάξτε το στις <a href="/settings">Ρυθμίσεις</a> αλλιώς δεν θα μπορείτε να ανακτήσετε τον κωδικό σας σε περίπτωση που χαθεί.</p>
	</div>
	{% endifequal %}

	<div class="entry">
		<h3>Εισαγωγικά</h3>
		<p>Καλώς ήρθατε στην ιστοσελίδα Cronos.</p>
		<p>Η παρούσα ιστοσελίδα αποτελεί μια ενοποίηση των διαφόρων υπηρεσιών του ΤΕΙ Λάρισας.</p>
	</div>
	<div class="entry">
		<h3>Ανακοινώσεις</h3>
		<p>Συλλογή ανακοινώσεων των παρακάτω υπηρεσιών</p>
		<ul>
			<li><a href="http://dionysos.teilar.gr">Πρόγραμμα Γραμματείας (Διόνυσος)</a></li>
			<li><a href="http://e-class.teilar.gr">Πλατφόρμα Ασύγχρονης Τηλεκπαίδευσης E-class</a> (Ανακοινώσεις όλων των μαθημάτων)</li>
			<li><a href="http://www.teilar.gr">Κεντρική Σελίδα ΤΕΙ Λάρισας</a> (Γενικές / Όλων των τμημάτων και καθηγητών)</li>
			<li><a href="http://www.pr.teilar.gr">Γραφείο Δημοσίων & Διεθνών Σχέσεων</a></li>
			<li><a href="http://www.career.teilar.gr">Γραφείο Διασύνδεσης</a></li>
			<li><a href="http://library.teilar.gr">Κεντρική Βιβλιοθήκη</a></li>
			<li><a href="http://noc.teilar.gr">Κέντρο Διαχείρισης Δικτύου</a></li>
			<li><a href="http://linuxteam.cs.teilar.gr">Linux Team</a></li>
		</ul>
		<p>Ως προεπιλογή, παρακολουθείτε ανακοινώσεις της σχολής σας και των μαθημάτων του e-class που είστε εγγεγραμμένοι. Για αλλαγή επισκευτείτε τις <a href="/settings">ρυθμίσεις</a></p>
	</div>
	<div class="entry rss-promo">
		<h3><a href="/feeds/announcements/{{user}}">RSS feed</a></h3>
		<p>Εγγραφείτε στο RSS feed με τις ανακοινώσεις σας.</p>	
	</div>


{% endblock %}
