{% extends "base.html" %}

{% block title %}
	{{user}} | 
{% endblock %}

{% block content %}

{% ifequal mail 'unset' %}
Δεν έχετε δηλώσει κάποιο email. Μπορείτε να το συμπληρώσετε πατώντας <a href="/settings">εδώ</a> αλλιώς δεν θα μπορείτε να ανακτήσετε τον κωδικό σας σε περίπτωση που χαθεί
{% endifequal %}

<h1>Εισαγωγικά</h1>
Καλώς ήρθατε στην ιστοσελίδα Cronos. Η παρούσα ιστοσελίδα αποτελεί μια ενοποίηση των διαφόρων υπηρεσιών του ΤΕΙ Λάρισας. Μερικές από τις υπηρεσίες που προσφέρει η ιστοσελίδα μας:
<br />
<h1>Ανακοινώσεις</h1>
Συλλογή ανακοινώσεων των παρακάτω υπηρεσιών
<ul>
	<li><a href="http://dionysos.teilar.gr">Πρόγραμμα Γραμματείας (Διόνυσος)</a></li>
	<li><a href="http://e-class.teilar.gr">Πλατφόρμα Ασύγχρονης Τηλεκπαίδευσης E-class</a> (Ανακοινώσεις όλων των μαθημάτων)</li>
	<li><a href="http://www.teilar.gr">Κεντρική Σελίδα ΤΕΙ Λάρισας</a> (Γενικές ανακοινώσεις, καθώς και ανακοινώσεις όλων των τμημάτων και καθηγητών)</li>
	<li><a href="http://www.pr.teilar.gr">Γραφείο Δημοσίων & Διεθνών Σχέσεων</a></li>
	<li><a href="http://www.career.teilar.gr">Γραφείο Διασύνδεσης</a></li>
	<li><a href="http://library.teilar.gr">Κεντρική Βιβλιοθήκη</a></li>
	<li><a href="http://noc.teilar.gr">Κέντρο Διαχείρισης Δικτύου</a></li>
	<li><a href="http://linuxteam.cs.teilar.gr">Linux Team</a></li>
</ul>
Ως προεπιλογή, παρακολουθείτε ανακοινώσεις της σχολής σας και των μαθημάτων του e-class που είστε εγγεγραμμένοι. Για αλλαγή επισκευτείτε τις <a href="/settings">ρυθμίσεις</a>
<br />
<h1>RSS Feed</h1>
RSS Feed με τις ανακοινώσεις σας <a href="/feeds/announcements/{{user}}"><img src="{{MEDIA_URL}}images/rss.png" style="width:40px;"/></a>
<h1>Άλλες υπηρεσίες</h1>
<ul>
	<li>Προβολή της δήλωσής σας</li>
	<li>Aναζήτηση βιβλίου στην βάση δεδομένων της βιβλιοθήκης</li>
	<li>Προβολή των email σας</li>
	<li>Εμφάνιση τελευταίων εγγράφων και προθεσμιών από το eclass</li>
</ul>
	<li><a href="/declaration">Προβολή Δήλωσης</a></li>
	<li><a href="/eclass">Μαθήματα E-class</a></li>
</ul>
{% endblock %}
